.nodered/.flows.json.backup
[{"id":"7e6d6dc7.5531a4","type":"tab","label":"talib Indicators","disabled":false,"info":""},{"id":"bd892ea6.8565b","type":"tab","label":"Volume Indicators","disabled":false,"info":""},{"id":"6a557a77.2c46b4","type":"tab","label":"Momentum Indicators","disabled":false,"info":""},{"id":"6753361d.300e28","type":"tab","label":"Volatility Indicators","disabled":false,"info":""},{"id":"e3a3bc3f.da83","type":"tab","label":"Price Transform","disabled":false,"info":""},{"id":"b4e1fcae.96d4a","type":"tab","label":"Overlap Studies","disabled":false,"info":""},{"id":"89d4d62c.d7de08","type":"tab","label":"Statistic Functions","disabled":false,"info":""},{"id":"83b456cd.a47bc8","type":"tab","label":"Pattern Recognition","disabled":false,"info":""},{"id":"63e27bdc.749274","type":"tab","label":"Cycle Indicators","disabled":false,"info":""},{"id":"7aedb073.14e22","type":"tab","label":"Math Operators","disabled":false,"info":""},{"id":"72d6d3e9.3b9a1c","type":"file in","z":"7e6d6dc7.5531a4","name":"Market Data","filename":"./example/marketdata.json","format":"utf8","chunk":false,"sendError":false,"x":286.75000381469727,"y":288.49997425079346,"wires":[["2771c98.dc71536"]]},{"id":"ea2d76e5.691d88","type":"inject","z":"7e6d6dc7.5531a4","name":"Debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119.25,"y":288.49997329711914,"wires":[["72d6d3e9.3b9a1c"]]},{"id":"2771c98.dc71536","type":"json","z":"7e6d6dc7.5531a4","name":"","pretty":true,"x":445.50000762939453,"y":288.49997425079346,"wires":[["3e7e653.4bca99a","134c9970.f554b7","f86768fa.63f8c8","8ef5910a.382e1","8097d6b0.535928","e000ce37.26fa1","e882342b.525088","f0e26bf7.ac0928","661bb652.fec048"]]},{"id":"bd2ee847.572db8","type":"link in","z":"e3a3bc3f.da83","name":"","links":["3e7e653.4bca99a"],"x":172,"y":112,"wires":[["7dc6a1cb.25134","3e99d352.103d5c"]]},{"id":"7dc6a1cb.25134","type":"MEDPRICE","z":"e3a3bc3f.da83","name":"","x":287,"y":145,"wires":[["54ed9b8b.44d364"]]},{"id":"54ed9b8b.44d364","type":"debug","z":"e3a3bc3f.da83","name":"Result","active":true,"console":"false","complete":"true","x":462,"y":145,"wires":[]},{"id":"3e7e653.4bca99a","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["bd2ee847.572db8"],"x":593.2500095367432,"y":452.2500162124634,"wires":[]},{"id":"dbd89717.465478","type":"link in","z":"7aedb073.14e22","name":"","links":["134c9970.f554b7"],"x":165,"y":125,"wires":[["29c05a27.d4fe36","d16c8e4f.4c33d"]]},{"id":"29c05a27.d4fe36","type":"MAX","z":"7aedb073.14e22","name":"","optInTimePeriod":30,"x":366,"y":88,"wires":[["48ad0091.44999"]]},{"id":"d16c8e4f.4c33d","type":"MAXINDEX","z":"7aedb073.14e22","name":"","optInTimePeriod":30,"x":393,"y":163,"wires":[["9c18372a.97e0e8"]]},{"id":"9c18372a.97e0e8","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":661,"y":163,"wires":[]},{"id":"48ad0091.44999","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":611,"y":88,"wires":[]},{"id":"134c9970.f554b7","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["dbd89717.465478","2593b977.a55e26"],"x":593.7500095367432,"y":405.25001525878906,"wires":[]},{"id":"1f3f344b.413cfc","type":"HT_DCPERIOD","z":"63e27bdc.749274","name":"","x":351,"y":68,"wires":[["8ad8cc5.9e4f83"]]},{"id":"8ad8cc5.9e4f83","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":625,"y":68,"wires":[]},{"id":"b274aa4b.49ab48","type":"HT_DCPHASE","z":"63e27bdc.749274","name":"","x":352,"y":122,"wires":[["2884f303.5ca81c"]]},{"id":"2884f303.5ca81c","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":626,"y":122,"wires":[]},{"id":"648ed25a.8fda2c","type":"HT_PHASOR","z":"63e27bdc.749274","name":"","x":345,"y":169,"wires":[["27f2a02d.a3d83"]]},{"id":"27f2a02d.a3d83","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":622,"y":169,"wires":[]},{"id":"c187a60d.bbe548","type":"HT_SINE","z":"63e27bdc.749274","name":"","x":307,"y":217,"wires":[["7bb2584c.3510f8"]]},{"id":"7bb2584c.3510f8","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":606,"y":217,"wires":[]},{"id":"46acceec.1406d","type":"HT_TRENDLINE","z":"63e27bdc.749274","name":"","x":359,"y":265,"wires":[["9ba5ea60.f30df8"]]},{"id":"c6822207.2e82e","type":"HT_TRENDMODE","z":"63e27bdc.749274","name":"","x":349,"y":315,"wires":[["8762df2c.0091"]]},{"id":"8762df2c.0091","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":630,"y":315,"wires":[]},{"id":"9ba5ea60.f30df8","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":641,"y":265,"wires":[]},{"id":"49cd752c.9c07ec","type":"link in","z":"63e27bdc.749274","name":"","links":["f86768fa.63f8c8"],"x":100,"y":200,"wires":[["1f3f344b.413cfc","b274aa4b.49ab48","648ed25a.8fda2c","c187a60d.bbe548","46acceec.1406d","c6822207.2e82e"]]},{"id":"f86768fa.63f8c8","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["49cd752c.9c07ec"],"x":592.0000104904175,"y":492.7500162124634,"wires":[]},{"id":"37e8a0b3.3ab49","type":"CDL2CROWS","z":"83b456cd.a47bc8","name":"","x":317,"y":68,"wires":[["e22ef370.63f9c"]]},{"id":"e22ef370.63f9c","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":488,"y":68,"wires":[]},{"id":"a9cd7db8.bd4c1","type":"CDL3BLACKCROWS","z":"83b456cd.a47bc8","name":"","x":337,"y":125,"wires":[["5a14faf4.04c1c4"]]},{"id":"5a14faf4.04c1c4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":523,"y":125,"wires":[]},{"id":"9fbcb1ea.641c8","type":"CDL3INSIDE","z":"83b456cd.a47bc8","name":"","x":346,"y":181,"wires":[["8d3c1a80.5e0d28"]]},{"id":"8d3c1a80.5e0d28","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":537,"y":181,"wires":[]},{"id":"f3003600.a5d228","type":"CDL3LINESTRIKE","z":"83b456cd.a47bc8","name":"","x":340,"y":230,"wires":[["767f9b93.9033b4"]]},{"id":"767f9b93.9033b4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":519,"y":230,"wires":[]},{"id":"af3bfd4c.0629","type":"CDL3OUTSIDE","z":"83b456cd.a47bc8","name":"","x":356,"y":285,"wires":[["67956c61.ccd4f4"]]},{"id":"67956c61.ccd4f4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":549,"y":285,"wires":[]},{"id":"f55cc184.fddaf","type":"CDL3STARSINSOUTH","z":"83b456cd.a47bc8","name":"","x":356,"y":339,"wires":[["adbd49cb.f2b578"]]},{"id":"adbd49cb.f2b578","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":547,"y":339,"wires":[]},{"id":"2d996f16.34776","type":"CDL3WHITESOLDIERS","z":"83b456cd.a47bc8","name":"","x":375,"y":396,"wires":[["17c2014e.c920bf"]]},{"id":"17c2014e.c920bf","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":588,"y":396,"wires":[]},{"id":"32ead38e.c07eec","type":"CDLABANDONEDBABY","z":"83b456cd.a47bc8","name":"","optInPenetration":0.3,"x":333,"y":451,"wires":[["cbab20d9.4124f"]]},{"id":"cbab20d9.4124f","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":539,"y":451,"wires":[]},{"id":"c426aa83.cdc1a8","type":"CDLADVANCEBLOCK","z":"83b456cd.a47bc8","name":"","x":323,"y":503,"wires":[["3d20a47f.b5349c"]]},{"id":"3d20a47f.b5349c","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":500,"y":503,"wires":[]},{"id":"d1605871.41fc08","type":"CDLBELTHOLD","z":"83b456cd.a47bc8","name":"","x":303,"y":553,"wires":[["87bd2de3.75657"]]},{"id":"87bd2de3.75657","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":450,"y":553,"wires":[]},{"id":"39793b0f.4dde24","type":"CDLBREAKAWAY","z":"83b456cd.a47bc8","name":"","x":309,"y":603,"wires":[["14d1ed53.68eeb3"]]},{"id":"14d1ed53.68eeb3","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":502,"y":603,"wires":[]},{"id":"ff7c2e36.2c5b8","type":"CDLCLOSINGMARUBOZU","z":"83b456cd.a47bc8","name":"","x":330,"y":651,"wires":[["a161f086.d5ceb"]]},{"id":"a161f086.d5ceb","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":517,"y":651,"wires":[]},{"id":"4a994ab.966beb4","type":"CDLCONCEALBABYSWALL","z":"83b456cd.a47bc8","name":"","x":349,"y":702,"wires":[["67b0fc05.fa08e4"]]},{"id":"67b0fc05.fa08e4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":556,"y":702,"wires":[]},{"id":"62414605.ca19c8","type":"CDLCOUNTERATTACK","z":"83b456cd.a47bc8","name":"","x":323,"y":749,"wires":[["7326b889.f9ad88"]]},{"id":"7326b889.f9ad88","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":519,"y":749,"wires":[]},{"id":"76bcb0c0.38456","type":"CDLDARKCLOUDCOVER","z":"83b456cd.a47bc8","name":"","optInPenetration":0.5,"x":328,"y":800,"wires":[["7096609.55550a"]]},{"id":"7096609.55550a","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":498,"y":800,"wires":[]},{"id":"8e4dde0c.41805","type":"CDLDOJI","z":"83b456cd.a47bc8","name":"","x":291,"y":851,"wires":[["3081108f.ff00a"]]},{"id":"3081108f.ff00a","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":527,"y":851,"wires":[]},{"id":"865da10e.1184d","type":"CDLDOJISTAR","z":"83b456cd.a47bc8","name":"","x":297,"y":901,"wires":[["5c99a148.bb281"]]},{"id":"5c99a148.bb281","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":474,"y":901,"wires":[]},{"id":"52cbed01.48e1b4","type":"CDLENGULFING","z":"83b456cd.a47bc8","name":"","x":324,"y":953,"wires":[["64af68de.ea5e98"]]},{"id":"64af68de.ea5e98","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":501,"y":953,"wires":[]},{"id":"dce783df.518b5","type":"CDLEVENINGDOJISTAR","z":"83b456cd.a47bc8","name":"","optInPenetration":0.3,"x":326,"y":1006,"wires":[["ccd640d0.5b6b4"]]},{"id":"ccd640d0.5b6b4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":550,"y":1006,"wires":[]},{"id":"fdf7d820.27bf38","type":"CDLEVENINGSTAR","z":"83b456cd.a47bc8","name":"","optInPenetration":0.3,"x":307,"y":1060,"wires":[["aeecf905.042a88"]]},{"id":"aeecf905.042a88","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":473,"y":1060,"wires":[]},{"id":"2bc9d6ca.e56aba","type":"CDLGAPSIDESIDEWHITE","z":"83b456cd.a47bc8","name":"","x":385,"y":1114,"wires":[["25b1870d.85dfd8"]]},{"id":"25b1870d.85dfd8","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":611,"y":1114,"wires":[]},{"id":"2045d3a5.31667c","type":"link in","z":"83b456cd.a47bc8","name":"","links":["8ef5910a.382e1"],"x":142,"y":604,"wires":[["37e8a0b3.3ab49","a9cd7db8.bd4c1","9fbcb1ea.641c8","f3003600.a5d228","af3bfd4c.0629","f55cc184.fddaf","2d996f16.34776","32ead38e.c07eec","c426aa83.cdc1a8","d1605871.41fc08","39793b0f.4dde24","ff7c2e36.2c5b8","4a994ab.966beb4","62414605.ca19c8","76bcb0c0.38456","8e4dde0c.41805","865da10e.1184d","52cbed01.48e1b4","dce783df.518b5","fdf7d820.27bf38","2bc9d6ca.e56aba"]]},{"id":"8ef5910a.382e1","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["2045d3a5.31667c"],"x":593.7500104904175,"y":346.0000123977661,"wires":[]},{"id":"3e99d352.103d5c","type":"AVGPRICE","z":"e3a3bc3f.da83","name":"","x":299,"y":83,"wires":[["ed1faa8e.b489b8"]]},{"id":"ed1faa8e.b489b8","type":"debug","z":"e3a3bc3f.da83","name":"Result","active":true,"console":"false","complete":"true","x":466,"y":83,"wires":[]},{"id":"6f8a7063.2fb3f","type":"ADX","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":398,"y":77,"wires":[["79096282.82be4c"]]},{"id":"3f298232.8c5f8e","type":"ADXR","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":417,"y":132,"wires":[["fbc0538f.3fa85"]]},{"id":"2593b977.a55e26","type":"link in","z":"6a557a77.2c46b4","name":"","links":["134c9970.f554b7","8097d6b0.535928"],"x":169,"y":386,"wires":[["6f8a7063.2fb3f","3f298232.8c5f8e","f6d1ae4e.dd301","8c85834f.93069","9bc004c2.b5fa28","904d60fe.b2b7f","6148e3b8.b8c7fc","52dfe171.a19da","ae9a2279.d156c","ba01db70.b09168","d0e55962.60ff48","b834f3af.61bfa"]]},{"id":"f6d1ae4e.dd301","type":"APO","z":"6a557a77.2c46b4","name":"","optInFastPeriod":12,"optInSlowPeriod":26,"optInMAType":0,"x":357,"y":189,"wires":[["967a89cf.181df8"]]},{"id":"8c85834f.93069","type":"AROON","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":296,"y":241,"wires":[["6c754424.f7c36c"]]},{"id":"9bc004c2.b5fa28","type":"AROONOSC","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":324,"y":296,"wires":[["f839776a.4a9238"]]},{"id":"904d60fe.b2b7f","type":"BOP","z":"6a557a77.2c46b4","name":"","x":331,"y":353,"wires":[["43c95558.766c5c"]]},{"id":"6148e3b8.b8c7fc","type":"CCI","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":360,"y":413,"wires":[["57b6860f.f24bf8"]]},{"id":"52dfe171.a19da","type":"CMO","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":366,"y":471,"wires":[["cfd2b581.29ce78"]]},{"id":"ae9a2279.d156c","type":"DX","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":356,"y":529,"wires":[["b76faa85.a905f8"]]},{"id":"ba01db70.b09168","type":"MACD","z":"6a557a77.2c46b4","name":"","optInFastPeriod":"12","optInSlowPeriod":"26","optInSignalPeriod":"9","x":395,"y":588,"wires":[["94e619d9.81a3e8"]]},{"id":"d0e55962.60ff48","type":"MACDEXT","z":"6a557a77.2c46b4","name":"","optInFastPeriod":12,"optInFastMAType":0,"optInSlowPeriod":26,"optInSlowMAType":0,"optInSignalPeriod":9,"optInSignalMAType":0,"x":373,"y":646,"wires":[["684ea79.acf2c58"]]},{"id":"b834f3af.61bfa","type":"MACDFIX","z":"6a557a77.2c46b4","name":"","optInSignalPeriod":9,"x":432,"y":702,"wires":[["7e16a3f1.0a0e1c"]]},{"id":"8097d6b0.535928","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["2593b977.a55e26"],"x":598.7500114440918,"y":286.7500104904175,"wires":[]},{"id":"a654ac5a.1ef4d","type":"AD","z":"bd892ea6.8565b","name":"","x":376,"y":87,"wires":[["6c5e6b60.aa87a4"]]},{"id":"feca06ee.4d7108","type":"ADOSC","z":"bd892ea6.8565b","name":"","optInFastPeriod":"3","optInSlowPeriod":"10","x":385,"y":147,"wires":[["af512da3.8647c"]]},{"id":"e4bd71b7.72da7","type":"link in","z":"bd892ea6.8565b","name":"","links":["e000ce37.26fa1"],"x":201,"y":118,"wires":[["a654ac5a.1ef4d","feca06ee.4d7108"]]},{"id":"e000ce37.26fa1","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["e4bd71b7.72da7"],"x":604.2500095367432,"y":116.00000858306885,"wires":[]},{"id":"dfc6bde7.c85b4","type":"ATR","z":"6753361d.300e28","optInTimePeriod":14,"name":"","x":303,"y":129,"wires":[["7a8f8340.8595bc"]]},{"id":"8dc922c0.0bb72","type":"link in","z":"6753361d.300e28","name":"","links":["e882342b.525088"],"x":150,"y":129,"wires":[["dfc6bde7.c85b4"]]},{"id":"e882342b.525088","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["8dc922c0.0bb72"],"x":597.0000095367432,"y":64.00000667572021,"wires":[]},{"id":"e761e113.a4cd8","type":"BBANDS","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":5,"optInNbDevUp":2,"optInNbDevDn":2,"optInMAType":0,"x":290,"y":68,"wires":[["7428327d.e3185c"]]},{"id":"72d65e91.d49ef","type":"DEMA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"x":358,"y":121,"wires":[["4d98f1d6.7a941"]]},{"id":"2ab53ccb.c654d4","type":"EMA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"x":327,"y":178,"wires":[["332d6639.bbac5a"]]},{"id":"4baea759.77baf8","type":"KAMA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"x":345,"y":232,"wires":[["60446cf3.51e214"]]},{"id":"1c1489ab.8f33d6","type":"MA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"optInMAType":0,"x":285,"y":288,"wires":[["386fa1ed.bd642e"]]},{"id":"94fcb786.df58a8","type":"MAMA","z":"b4e1fcae.96d4a","name":"","optInFastLimit":0.5,"optInSlowLimit":0.05,"x":336,"y":341,"wires":[["7a5e8a2c.1eab64"]]},{"id":"b51b673f.7984b8","type":"link in","z":"b4e1fcae.96d4a","name":"","links":["f0e26bf7.ac0928"],"x":135,"y":217,"wires":[["e761e113.a4cd8","72d65e91.d49ef","2ab53ccb.c654d4","4baea759.77baf8","1c1489ab.8f33d6","94fcb786.df58a8"]]},{"id":"f0e26bf7.ac0928","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["b51b673f.7984b8"],"x":596.5000114440918,"y":170.75000858306885,"wires":[]},{"id":"50770821.2ad558","type":"BETA","z":"89d4d62c.d7de08","name":"","optInTimePeriod":5,"x":302,"y":99,"wires":[["8d272cb9.4a4bf"]]},{"id":"f488ec53.40fce","type":"CORREL","z":"89d4d62c.d7de08","name":"","optInTimePeriod":5,"x":390,"y":146,"wires":[["694ced67.723654"]]},{"id":"d1ceb9bc.41e0d8","type":"LINEARREG","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":338,"y":198,"wires":[["b6947037.1bd1e"]]},{"id":"a5ec69f6.4a2e78","type":"LINEARREG_ANGLE","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":355,"y":249,"wires":[["dc4869a1.b61fc8"]]},{"id":"25b09363.329dac","type":"LINEARREG_INTERCEPT","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":362,"y":302,"wires":[["859917c6.a1cec8"]]},{"id":"4052a271.fb0fdc","type":"LINEARREG_SLOPE","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":352,"y":358,"wires":[["a5c87e35.ece8e"]]},{"id":"aa7dcdef.30f12","type":"link in","z":"89d4d62c.d7de08","name":"","links":["661bb652.fec048"],"x":159,"y":236,"wires":[["50770821.2ad558","f488ec53.40fce","d1ceb9bc.41e0d8","a5ec69f6.4a2e78","25b09363.329dac","4052a271.fb0fdc"]]},{"id":"661bb652.fec048","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["aa7dcdef.30f12"],"x":594.5000095367432,"y":231.00001049041748,"wires":[]},{"id":"8d272cb9.4a4bf","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":500,"y":99,"wires":[]},{"id":"694ced67.723654","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":619,"y":146,"wires":[]},{"id":"b6947037.1bd1e","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":591,"y":197,"wires":[]},{"id":"dc4869a1.b61fc8","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":589,"y":249,"wires":[]},{"id":"859917c6.a1cec8","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":590,"y":302,"wires":[]},{"id":"a5c87e35.ece8e","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":589,"y":358,"wires":[]},{"id":"7428327d.e3185c","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":534,"y":67,"wires":[]},{"id":"4d98f1d6.7a941","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":607,"y":121,"wires":[]},{"id":"332d6639.bbac5a","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":604,"y":178,"wires":[]},{"id":"60446cf3.51e214","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":610,"y":232,"wires":[]},{"id":"386fa1ed.bd642e","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":577,"y":287,"wires":[]},{"id":"7a5e8a2c.1eab64","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":584,"y":341,"wires":[]},{"id":"7a8f8340.8595bc","type":"debug","z":"6753361d.300e28","name":"Result","active":true,"console":"false","complete":"true","x":514,"y":129,"wires":[]},{"id":"79096282.82be4c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":657,"y":77,"wires":[]},{"id":"fbc0538f.3fa85","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":676,"y":132,"wires":[]},{"id":"967a89cf.181df8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":590,"y":189,"wires":[]},{"id":"6c754424.f7c36c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":493,"y":241,"wires":[]},{"id":"f839776a.4a9238","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":505,"y":296,"wires":[]},{"id":"43c95558.766c5c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":525,"y":353,"wires":[]},{"id":"57b6860f.f24bf8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":572,"y":413,"wires":[]},{"id":"cfd2b581.29ce78","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":597,"y":471,"wires":[]},{"id":"b76faa85.a905f8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":610,"y":529,"wires":[]},{"id":"94e619d9.81a3e8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":665,"y":588,"wires":[]},{"id":"684ea79.acf2c58","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":655,"y":646,"wires":[]},{"id":"7e16a3f1.0a0e1c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":730,"y":702,"wires":[]},{"id":"6c5e6b60.aa87a4","type":"debug","z":"bd892ea6.8565b","name":"Result","active":true,"console":"false","complete":"true","x":570,"y":87,"wires":[]},{"id":"af512da3.8647c","type":"debug","z":"bd892ea6.8565b","name":"Result","active":true,"console":"false","complete":"true","x":588,"y":147,"wires":[]}]