.nodered/.flows.json.backup
[{"id":"7e6d6dc7.5531a4","type":"tab","label":"talib Indicators","disabled":false,"info":""},{"id":"bd892ea6.8565b","type":"tab","label":"Volume Indicators","disabled":false,"info":""},{"id":"6a557a77.2c46b4","type":"tab","label":"Momentum Indicators","disabled":false,"info":""},{"id":"6753361d.300e28","type":"tab","label":"Volatility Indicators","disabled":false,"info":""},{"id":"e3a3bc3f.da83","type":"tab","label":"Price Transform","disabled":false,"info":""},{"id":"b4e1fcae.96d4a","type":"tab","label":"Overlap Studies","disabled":false,"info":""},{"id":"89d4d62c.d7de08","type":"tab","label":"Statistic Functions","disabled":false,"info":""},{"id":"83b456cd.a47bc8","type":"tab","label":"Pattern Recognition","disabled":false,"info":""},{"id":"63e27bdc.749274","type":"tab","label":"Cycle Indicators","disabled":false,"info":""},{"id":"7aedb073.14e22","type":"tab","label":"Math Operators","disabled":false,"info":""},{"id":"72d6d3e9.3b9a1c","type":"file in","z":"7e6d6dc7.5531a4","name":"Market Data","filename":"./example/marketdata.json","format":"utf8","chunk":false,"sendError":false,"x":287.75,"y":259.4999694824219,"wires":[["2771c98.dc71536"]]},{"id":"ea2d76e5.691d88","type":"inject","z":"7e6d6dc7.5531a4","name":"Debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120.24999618530273,"y":259.49996852874756,"wires":[["72d6d3e9.3b9a1c"]]},{"id":"2771c98.dc71536","type":"json","z":"7e6d6dc7.5531a4","name":"","pretty":true,"x":446.50000381469727,"y":259.4999694824219,"wires":[["3e7e653.4bca99a","134c9970.f554b7","f86768fa.63f8c8","8ef5910a.382e1","8097d6b0.535928","e000ce37.26fa1","e882342b.525088","f0e26bf7.ac0928","661bb652.fec048"]]},{"id":"bd2ee847.572db8","type":"link in","z":"e3a3bc3f.da83","name":"","links":["3e7e653.4bca99a"],"x":167,"y":171,"wires":[["7dc6a1cb.25134","3e99d352.103d5c","f97fb046.e4eb7","5de36df.1d9d094"]]},{"id":"7dc6a1cb.25134","type":"MEDPRICE","z":"e3a3bc3f.da83","name":"","x":287,"y":145,"wires":[["54ed9b8b.44d364"]]},{"id":"54ed9b8b.44d364","type":"debug","z":"e3a3bc3f.da83","name":"Result","active":true,"console":"false","complete":"true","x":462,"y":145,"wires":[]},{"id":"3e7e653.4bca99a","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["bd2ee847.572db8"],"x":575.25,"y":208.25003051757812,"wires":[]},{"id":"dbd89717.465478","type":"link in","z":"7aedb073.14e22","name":"","links":["134c9970.f554b7"],"x":167,"y":285,"wires":[["29c05a27.d4fe36","d16c8e4f.4c33d","4fbfd5ef.0485bc","8605fae7.e2b948","21381335.58484c","1d2bcff1.7f54d","89685a2e.7243b8"]]},{"id":"29c05a27.d4fe36","type":"MAX","z":"7aedb073.14e22","name":"","optInTimePeriod":30,"x":390,"y":84,"wires":[["48ad0091.44999"]]},{"id":"d16c8e4f.4c33d","type":"MAXINDEX","z":"7aedb073.14e22","name":"","optInTimePeriod":30,"x":417,"y":159,"wires":[["9c18372a.97e0e8"]]},{"id":"9c18372a.97e0e8","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":685,"y":159,"wires":[]},{"id":"48ad0091.44999","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":635,"y":84,"wires":[]},{"id":"134c9970.f554b7","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["dbd89717.465478"],"x":573.75,"y":473.2500305175781,"wires":[]},{"id":"1f3f344b.413cfc","type":"HT_DCPERIOD","z":"63e27bdc.749274","name":"","x":351,"y":68,"wires":[["8ad8cc5.9e4f83"]]},{"id":"8ad8cc5.9e4f83","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":625,"y":68,"wires":[]},{"id":"b274aa4b.49ab48","type":"HT_DCPHASE","z":"63e27bdc.749274","name":"","x":352,"y":122,"wires":[["2884f303.5ca81c"]]},{"id":"2884f303.5ca81c","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":626,"y":122,"wires":[]},{"id":"648ed25a.8fda2c","type":"HT_PHASOR","z":"63e27bdc.749274","name":"","x":345,"y":169,"wires":[["27f2a02d.a3d83"]]},{"id":"27f2a02d.a3d83","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":622,"y":169,"wires":[]},{"id":"c187a60d.bbe548","type":"HT_SINE","z":"63e27bdc.749274","name":"","x":307,"y":217,"wires":[["7bb2584c.3510f8"]]},{"id":"7bb2584c.3510f8","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":606,"y":217,"wires":[]},{"id":"46acceec.1406d","type":"HT_TRENDLINE","z":"63e27bdc.749274","name":"","x":359,"y":265,"wires":[["9ba5ea60.f30df8"]]},{"id":"c6822207.2e82e","type":"HT_TRENDMODE","z":"63e27bdc.749274","name":"","x":349,"y":315,"wires":[["8762df2c.0091"]]},{"id":"8762df2c.0091","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":630,"y":315,"wires":[]},{"id":"9ba5ea60.f30df8","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":641,"y":265,"wires":[]},{"id":"49cd752c.9c07ec","type":"link in","z":"63e27bdc.749274","name":"","links":["f86768fa.63f8c8"],"x":100,"y":200,"wires":[["1f3f344b.413cfc","b274aa4b.49ab48","648ed25a.8fda2c","c187a60d.bbe548","46acceec.1406d","c6822207.2e82e"]]},{"id":"f86768fa.63f8c8","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["49cd752c.9c07ec"],"x":576,"y":416.7500305175781,"wires":[]},{"id":"37e8a0b3.3ab49","type":"CDL2CROWS","z":"83b456cd.a47bc8","name":"","x":317,"y":68,"wires":[["e22ef370.63f9c"]]},{"id":"e22ef370.63f9c","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":488,"y":68,"wires":[]},{"id":"a9cd7db8.bd4c1","type":"CDL3BLACKCROWS","z":"83b456cd.a47bc8","name":"","x":337,"y":125,"wires":[["5a14faf4.04c1c4"]]},{"id":"5a14faf4.04c1c4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":523,"y":125,"wires":[]},{"id":"9fbcb1ea.641c8","type":"CDL3INSIDE","z":"83b456cd.a47bc8","name":"","x":346,"y":181,"wires":[["8d3c1a80.5e0d28"]]},{"id":"8d3c1a80.5e0d28","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":537,"y":181,"wires":[]},{"id":"f3003600.a5d228","type":"CDL3LINESTRIKE","z":"83b456cd.a47bc8","name":"","x":340,"y":230,"wires":[["767f9b93.9033b4"]]},{"id":"767f9b93.9033b4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":519,"y":230,"wires":[]},{"id":"af3bfd4c.0629","type":"CDL3OUTSIDE","z":"83b456cd.a47bc8","name":"","x":356,"y":285,"wires":[["67956c61.ccd4f4"]]},{"id":"67956c61.ccd4f4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":549,"y":285,"wires":[]},{"id":"f55cc184.fddaf","type":"CDL3STARSINSOUTH","z":"83b456cd.a47bc8","name":"","x":356,"y":339,"wires":[["adbd49cb.f2b578"]]},{"id":"adbd49cb.f2b578","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":547,"y":339,"wires":[]},{"id":"2d996f16.34776","type":"CDL3WHITESOLDIERS","z":"83b456cd.a47bc8","name":"","x":375,"y":396,"wires":[["17c2014e.c920bf"]]},{"id":"17c2014e.c920bf","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":588,"y":396,"wires":[]},{"id":"32ead38e.c07eec","type":"CDLABANDONEDBABY","z":"83b456cd.a47bc8","name":"","optInPenetration":0.3,"x":333,"y":451,"wires":[["cbab20d9.4124f"]]},{"id":"cbab20d9.4124f","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":539,"y":451,"wires":[]},{"id":"c426aa83.cdc1a8","type":"CDLADVANCEBLOCK","z":"83b456cd.a47bc8","name":"","x":323,"y":503,"wires":[["3d20a47f.b5349c"]]},{"id":"3d20a47f.b5349c","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":500,"y":503,"wires":[]},{"id":"d1605871.41fc08","type":"CDLBELTHOLD","z":"83b456cd.a47bc8","name":"","x":303,"y":553,"wires":[["87bd2de3.75657"]]},{"id":"87bd2de3.75657","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":450,"y":553,"wires":[]},{"id":"39793b0f.4dde24","type":"CDLBREAKAWAY","z":"83b456cd.a47bc8","name":"","x":309,"y":603,"wires":[["14d1ed53.68eeb3"]]},{"id":"14d1ed53.68eeb3","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":502,"y":603,"wires":[]},{"id":"ff7c2e36.2c5b8","type":"CDLCLOSINGMARUBOZU","z":"83b456cd.a47bc8","name":"","x":330,"y":651,"wires":[["a161f086.d5ceb"]]},{"id":"a161f086.d5ceb","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":517,"y":651,"wires":[]},{"id":"4a994ab.966beb4","type":"CDLCONCEALBABYSWALL","z":"83b456cd.a47bc8","name":"","x":349,"y":702,"wires":[["67b0fc05.fa08e4"]]},{"id":"67b0fc05.fa08e4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":556,"y":702,"wires":[]},{"id":"62414605.ca19c8","type":"CDLCOUNTERATTACK","z":"83b456cd.a47bc8","name":"","x":323,"y":749,"wires":[["7326b889.f9ad88"]]},{"id":"7326b889.f9ad88","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":519,"y":749,"wires":[]},{"id":"76bcb0c0.38456","type":"CDLDARKCLOUDCOVER","z":"83b456cd.a47bc8","name":"","optInPenetration":0.5,"x":328,"y":800,"wires":[["7096609.55550a"]]},{"id":"7096609.55550a","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":498,"y":800,"wires":[]},{"id":"8e4dde0c.41805","type":"CDLDOJI","z":"83b456cd.a47bc8","name":"","x":291,"y":851,"wires":[["3081108f.ff00a"]]},{"id":"3081108f.ff00a","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":527,"y":851,"wires":[]},{"id":"865da10e.1184d","type":"CDLDOJISTAR","z":"83b456cd.a47bc8","name":"","x":297,"y":901,"wires":[["5c99a148.bb281"]]},{"id":"5c99a148.bb281","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":474,"y":901,"wires":[]},{"id":"52cbed01.48e1b4","type":"CDLENGULFING","z":"83b456cd.a47bc8","name":"","x":324,"y":953,"wires":[["64af68de.ea5e98"]]},{"id":"64af68de.ea5e98","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":501,"y":953,"wires":[]},{"id":"dce783df.518b5","type":"CDLEVENINGDOJISTAR","z":"83b456cd.a47bc8","name":"","optInPenetration":0.3,"x":326,"y":1006,"wires":[["ccd640d0.5b6b4"]]},{"id":"ccd640d0.5b6b4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":550,"y":1006,"wires":[]},{"id":"fdf7d820.27bf38","type":"CDLEVENINGSTAR","z":"83b456cd.a47bc8","name":"","optInPenetration":0.3,"x":307,"y":1060,"wires":[["aeecf905.042a88"]]},{"id":"aeecf905.042a88","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":473,"y":1060,"wires":[]},{"id":"2bc9d6ca.e56aba","type":"CDLGAPSIDESIDEWHITE","z":"83b456cd.a47bc8","name":"","x":385,"y":1114,"wires":[["25b1870d.85dfd8"]]},{"id":"25b1870d.85dfd8","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":611,"y":1114,"wires":[]},{"id":"2045d3a5.31667c","type":"link in","z":"83b456cd.a47bc8","name":"","links":["8ef5910a.382e1"],"x":142,"y":604,"wires":[["37e8a0b3.3ab49","a9cd7db8.bd4c1","9fbcb1ea.641c8","f3003600.a5d228","af3bfd4c.0629","f55cc184.fddaf","2d996f16.34776","32ead38e.c07eec","c426aa83.cdc1a8","d1605871.41fc08","39793b0f.4dde24","ff7c2e36.2c5b8","4a994ab.966beb4","62414605.ca19c8","76bcb0c0.38456","8e4dde0c.41805","865da10e.1184d","52cbed01.48e1b4","dce783df.518b5","fdf7d820.27bf38","2bc9d6ca.e56aba"]]},{"id":"8ef5910a.382e1","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["2045d3a5.31667c"],"x":574.75,"y":366,"wires":[]},{"id":"3e99d352.103d5c","type":"AVGPRICE","z":"e3a3bc3f.da83","name":"","x":299,"y":83,"wires":[["ed1faa8e.b489b8"]]},{"id":"ed1faa8e.b489b8","type":"debug","z":"e3a3bc3f.da83","name":"Result","active":true,"console":"false","complete":"true","x":466,"y":83,"wires":[]},{"id":"6f8a7063.2fb3f","type":"ADX","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":398,"y":77,"wires":[["79096282.82be4c"]]},{"id":"3f298232.8c5f8e","type":"ADXR","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":417,"y":132,"wires":[["fbc0538f.3fa85"]]},{"id":"2593b977.a55e26","type":"link in","z":"6a557a77.2c46b4","name":"","links":["8097d6b0.535928"],"x":158,"y":789,"wires":[["6f8a7063.2fb3f","3f298232.8c5f8e","f6d1ae4e.dd301","8c85834f.93069","9bc004c2.b5fa28","904d60fe.b2b7f","6148e3b8.b8c7fc","52dfe171.a19da","ae9a2279.d156c","ba01db70.b09168","d0e55962.60ff48","b834f3af.61bfa","362529a6.46ca26","e66570f8.e8955","e54f471b.82e178","5800acec.842da4","4a0a4f29.58a83","3d64f21e.82b8ce","6d75c63a.a21f68","2d95503e.6de8b","c7e0c879.1f4828","3a0ba5fb.63168a","808811e.e78edf","621c1b94.491454","eeb76f1e.4012f","115aa729.ebcb89","6c7ce24c.77a30c","880a0d5a.61e44","b94175fa.a07968","f1f3ec54.e907d"]]},{"id":"f6d1ae4e.dd301","type":"APO","z":"6a557a77.2c46b4","name":"","optInFastPeriod":12,"optInSlowPeriod":26,"optInMAType":0,"x":357,"y":189,"wires":[["967a89cf.181df8"]]},{"id":"8c85834f.93069","type":"AROON","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":296,"y":241,"wires":[["6c754424.f7c36c"]]},{"id":"9bc004c2.b5fa28","type":"AROONOSC","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":324,"y":296,"wires":[["f839776a.4a9238"]]},{"id":"904d60fe.b2b7f","type":"BOP","z":"6a557a77.2c46b4","name":"","x":331,"y":353,"wires":[["43c95558.766c5c"]]},{"id":"6148e3b8.b8c7fc","type":"CCI","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":360,"y":413,"wires":[["57b6860f.f24bf8"]]},{"id":"52dfe171.a19da","type":"CMO","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":366,"y":471,"wires":[["cfd2b581.29ce78"]]},{"id":"ae9a2279.d156c","type":"DX","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":356,"y":529,"wires":[["b76faa85.a905f8"]]},{"id":"ba01db70.b09168","type":"MACD","z":"6a557a77.2c46b4","name":"","optInFastPeriod":"12","optInSlowPeriod":"26","optInSignalPeriod":"9","x":395,"y":588,"wires":[["94e619d9.81a3e8"]]},{"id":"d0e55962.60ff48","type":"MACDEXT","z":"6a557a77.2c46b4","name":"","optInFastPeriod":12,"optInFastMAType":0,"optInSlowPeriod":26,"optInSlowMAType":0,"optInSignalPeriod":9,"optInSignalMAType":0,"x":373,"y":646,"wires":[["684ea79.acf2c58"]]},{"id":"b834f3af.61bfa","type":"MACDFIX","z":"6a557a77.2c46b4","name":"","optInSignalPeriod":9,"x":432,"y":702,"wires":[["7e16a3f1.0a0e1c"]]},{"id":"8097d6b0.535928","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["2593b977.a55e26"],"x":574.75,"y":102.75,"wires":[]},{"id":"a654ac5a.1ef4d","type":"AD","z":"bd892ea6.8565b","name":"","x":376,"y":87,"wires":[["6c5e6b60.aa87a4"]]},{"id":"feca06ee.4d7108","type":"ADOSC","z":"bd892ea6.8565b","name":"","optInFastPeriod":"3","optInSlowPeriod":"10","x":385,"y":147,"wires":[["af512da3.8647c"]]},{"id":"e4bd71b7.72da7","type":"link in","z":"bd892ea6.8565b","name":"","links":["e000ce37.26fa1"],"x":209,"y":147,"wires":[["a654ac5a.1ef4d","feca06ee.4d7108","30e24de6.248d62"]]},{"id":"e000ce37.26fa1","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["e4bd71b7.72da7"],"x":574.25,"y":54.00000762939453,"wires":[]},{"id":"dfc6bde7.c85b4","type":"ATR","z":"6753361d.300e28","optInTimePeriod":14,"name":"","x":303,"y":129,"wires":[["7a8f8340.8595bc"]]},{"id":"8dc922c0.0bb72","type":"link in","z":"6753361d.300e28","name":"","links":["e882342b.525088"],"x":149,"y":180,"wires":[["dfc6bde7.c85b4","e2c5883f.a2c948","e57d9ab.fb71068"]]},{"id":"e882342b.525088","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["8dc922c0.0bb72"],"x":575,"y":155.00000762939453,"wires":[]},{"id":"e761e113.a4cd8","type":"BBANDS","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":5,"optInNbDevUp":2,"optInNbDevDn":2,"optInMAType":0,"x":290,"y":68,"wires":[["7428327d.e3185c"]]},{"id":"72d65e91.d49ef","type":"DEMA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"x":358,"y":121,"wires":[["4d98f1d6.7a941"]]},{"id":"2ab53ccb.c654d4","type":"EMA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"x":327,"y":178,"wires":[["332d6639.bbac5a"]]},{"id":"4baea759.77baf8","type":"KAMA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"x":345,"y":232,"wires":[["60446cf3.51e214"]]},{"id":"1c1489ab.8f33d6","type":"MA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"optInMAType":0,"x":285,"y":288,"wires":[["386fa1ed.bd642e"]]},{"id":"94fcb786.df58a8","type":"MAMA","z":"b4e1fcae.96d4a","name":"","optInFastLimit":0.5,"optInSlowLimit":0.05,"x":336,"y":341,"wires":[["7a5e8a2c.1eab64"]]},{"id":"b51b673f.7984b8","type":"link in","z":"b4e1fcae.96d4a","name":"","links":["f0e26bf7.ac0928"],"x":137,"y":283,"wires":[["e761e113.a4cd8","72d65e91.d49ef","2ab53ccb.c654d4","4baea759.77baf8","1c1489ab.8f33d6","94fcb786.df58a8","9339ddd0.94fb5","c579417d.fad38","10db2e3e.64be42","fdd159db.3eb6f8","dc54c819.2fdcd8","cb075b87.b79898","233e4179.d22a7e"]]},{"id":"f0e26bf7.ac0928","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["b51b673f.7984b8"],"x":574.5,"y":259.75001525878906,"wires":[]},{"id":"50770821.2ad558","type":"BETA","z":"89d4d62c.d7de08","name":"","optInTimePeriod":5,"x":302,"y":99,"wires":[["8d272cb9.4a4bf"]]},{"id":"f488ec53.40fce","type":"CORREL","z":"89d4d62c.d7de08","name":"","optInTimePeriod":5,"x":390,"y":146,"wires":[["694ced67.723654"]]},{"id":"d1ceb9bc.41e0d8","type":"LINEARREG","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":338,"y":198,"wires":[["b6947037.1bd1e"]]},{"id":"a5ec69f6.4a2e78","type":"LINEARREG_ANGLE","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":355,"y":249,"wires":[["dc4869a1.b61fc8"]]},{"id":"25b09363.329dac","type":"LINEARREG_INTERCEPT","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":362,"y":302,"wires":[["859917c6.a1cec8"]]},{"id":"4052a271.fb0fdc","type":"LINEARREG_SLOPE","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":352,"y":358,"wires":[["a5c87e35.ece8e"]]},{"id":"aa7dcdef.30f12","type":"link in","z":"89d4d62c.d7de08","name":"","links":["661bb652.fec048"],"x":177,"y":303,"wires":[["50770821.2ad558","f488ec53.40fce","d1ceb9bc.41e0d8","a5ec69f6.4a2e78","25b09363.329dac","4052a271.fb0fdc","30877c8d.3036c4","861eaf7b.5cd8b","f9eac31f.750e"]]},{"id":"661bb652.fec048","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["aa7dcdef.30f12"],"x":574.5,"y":313.00001525878906,"wires":[]},{"id":"8d272cb9.4a4bf","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":500,"y":99,"wires":[]},{"id":"694ced67.723654","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":619,"y":146,"wires":[]},{"id":"b6947037.1bd1e","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":591,"y":197,"wires":[]},{"id":"dc4869a1.b61fc8","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":589,"y":249,"wires":[]},{"id":"859917c6.a1cec8","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":590,"y":302,"wires":[]},{"id":"a5c87e35.ece8e","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":589,"y":358,"wires":[]},{"id":"7428327d.e3185c","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":534,"y":67,"wires":[]},{"id":"4d98f1d6.7a941","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":607,"y":121,"wires":[]},{"id":"332d6639.bbac5a","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":604,"y":178,"wires":[]},{"id":"60446cf3.51e214","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":610,"y":232,"wires":[]},{"id":"386fa1ed.bd642e","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":577,"y":287,"wires":[]},{"id":"7a5e8a2c.1eab64","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":584,"y":341,"wires":[]},{"id":"7a8f8340.8595bc","type":"debug","z":"6753361d.300e28","name":"Result","active":true,"console":"false","complete":"true","x":514,"y":129,"wires":[]},{"id":"79096282.82be4c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":657,"y":77,"wires":[]},{"id":"fbc0538f.3fa85","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":676,"y":132,"wires":[]},{"id":"967a89cf.181df8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":590,"y":189,"wires":[]},{"id":"6c754424.f7c36c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":493,"y":241,"wires":[]},{"id":"f839776a.4a9238","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":505,"y":296,"wires":[]},{"id":"43c95558.766c5c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":525,"y":353,"wires":[]},{"id":"57b6860f.f24bf8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":572,"y":413,"wires":[]},{"id":"cfd2b581.29ce78","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":597,"y":471,"wires":[]},{"id":"b76faa85.a905f8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":610,"y":529,"wires":[]},{"id":"94e619d9.81a3e8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":665,"y":588,"wires":[]},{"id":"684ea79.acf2c58","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":655,"y":646,"wires":[]},{"id":"7e16a3f1.0a0e1c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":730,"y":702,"wires":[]},{"id":"6c5e6b60.aa87a4","type":"debug","z":"bd892ea6.8565b","name":"Result","active":true,"console":"false","complete":"true","x":570,"y":87,"wires":[]},{"id":"af512da3.8647c","type":"debug","z":"bd892ea6.8565b","name":"Result","active":true,"console":"false","complete":"true","x":588,"y":147,"wires":[]},{"id":"7ce8b269.86121c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":546,"y":758,"wires":[]},{"id":"9339ddd0.94fb5","type":"MIDPRICE","z":"b4e1fcae.96d4a","optInTimePeriod":14,"name":"","x":324,"y":434,"wires":[["fba75d2c.1792d"]]},{"id":"fba75d2c.1792d","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":574,"y":434,"wires":[]},{"id":"7569d048.21e6c","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":571,"y":388,"wires":[]},{"id":"4fbfd5ef.0485bc","type":"MIN","z":"7aedb073.14e22","optInTimePeriod":14,"name":"","x":332,"y":220,"wires":[["810b0a0e.84f2f8"]]},{"id":"810b0a0e.84f2f8","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":638,"y":219,"wires":[]},{"id":"8605fae7.e2b948","type":"MININDEX","z":"7aedb073.14e22","optInTimePeriod":14,"name":"","x":410,"y":278,"wires":[["ce9df32e.ac78e"]]},{"id":"ce9df32e.ac78e","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":677,"y":278,"wires":[]},{"id":"21381335.58484c","type":"MINMAX","z":"7aedb073.14e22","optInTimePeriod":14,"name":"","x":433,"y":341,"wires":[["93b147f7.bb41e8"]]},{"id":"93b147f7.bb41e8","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":720,"y":341,"wires":[]},{"id":"c579417d.fad38","type":"MIDPOINT","z":"b4e1fcae.96d4a","optInTimePeriod":14,"name":"","x":313,"y":388,"wires":[["7569d048.21e6c"]]},{"id":"362529a6.46ca26","type":"MFI","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":323,"y":758,"wires":[["7ce8b269.86121c"]]},{"id":"1d2bcff1.7f54d","type":"MINMAXINDEX","z":"7aedb073.14e22","optInTimePeriod":14,"name":"","x":466,"y":402,"wires":[["d48009c0.519548"]]},{"id":"d48009c0.519548","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":768,"y":402,"wires":[]},{"id":"e66570f8.e8955","type":"MINUS_DI","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":353,"y":817,"wires":[["28dd9077.79de3"]]},{"id":"28dd9077.79de3","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":576,"y":817,"wires":[]},{"id":"e54f471b.82e178","type":"MINUS_DM","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":353,"y":877,"wires":[["a168995a.1f9738"]]},{"id":"a168995a.1f9738","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":576,"y":877,"wires":[]},{"id":"5800acec.842da4","type":"MOM","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":305,"y":939,"wires":[["f53b9d52.f8924"]]},{"id":"f53b9d52.f8924","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":490,"y":939,"wires":[]},{"id":"e2c5883f.a2c948","type":"NATR","z":"6753361d.300e28","optInTimePeriod":14,"name":"","x":333,"y":179,"wires":[["bea36367.a3446"]]},{"id":"bea36367.a3446","type":"debug","z":"6753361d.300e28","name":"Result","active":true,"console":"false","complete":"true","x":551,"y":179,"wires":[]},{"id":"30e24de6.248d62","type":"OBV","z":"bd892ea6.8565b","name":"","x":374,"y":206,"wires":[["e2e0cb0d.42e778"]]},{"id":"e2e0cb0d.42e778","type":"debug","z":"bd892ea6.8565b","name":"Result","active":true,"console":"false","complete":"true","x":585,"y":206,"wires":[]},{"id":"4a0a4f29.58a83","type":"PLUS_DI","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":343,"y":993,"wires":[["1202ca58.5a8d16"]]},{"id":"1202ca58.5a8d16","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":554,"y":993,"wires":[]},{"id":"3d64f21e.82b8ce","type":"PLUS_DM","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":357,"y":1051,"wires":[["805912e.06200f"]]},{"id":"805912e.06200f","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":581,"y":1051,"wires":[]},{"id":"6d75c63a.a21f68","type":"PPO","z":"6a557a77.2c46b4","name":"","optInFastPeriod":12,"optInSlowPeriod":26,"optInMAType":0,"x":354,"y":1111,"wires":[["fc4e3a9c.ca4298"]]},{"id":"fc4e3a9c.ca4298","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":567,"y":1111,"wires":[]},{"id":"2d95503e.6de8b","type":"ROC","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":394,"y":1167,"wires":[["a86ff8bf.1d2dc8"]]},{"id":"a86ff8bf.1d2dc8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":650,"y":1167,"wires":[]},{"id":"c7e0c879.1f4828","type":"ROCP","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":443,"y":1222,"wires":[["b053720b.1356f"]]},{"id":"b053720b.1356f","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":749,"y":1222,"wires":[]},{"id":"3a0ba5fb.63168a","type":"ROCR","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":381,"y":1278,"wires":[["9cf56826.2c1228"]]},{"id":"808811e.e78edf","type":"ROCR100","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":429,"y":1341,"wires":[["363c5241.e5513e"]]},{"id":"9cf56826.2c1228","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":635,"y":1277,"wires":[]},{"id":"363c5241.e5513e","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":725,"y":1341,"wires":[]},{"id":"621c1b94.491454","type":"RSI","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":337,"y":1396,"wires":[["9923e9a6.1f9c58"]]},{"id":"9923e9a6.1f9c58","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":561,"y":1396,"wires":[]},{"id":"10db2e3e.64be42","type":"SAR","z":"b4e1fcae.96d4a","optInAcceleration":0.01,"optInMaximum":0.2,"name":"","x":288,"y":491,"wires":[["79b5ecaf.d87e54"]]},{"id":"79b5ecaf.d87e54","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":488,"y":491,"wires":[]},{"id":"fdd159db.3eb6f8","type":"SAREXT","z":"b4e1fcae.96d4a","optInStartValue":0,"optInOffsetOnReverse":0.01,"optInAccelerationInitLong":0.01,"optInAccelerationLong":0.01,"optInAccelerationMaxLong":0.2,"optInAccelerationInitShort":0.01,"optInAccelerationShort":0.01,"optInAccelerationMaxShort":0.2,"name":"","x":318,"y":549,"wires":[["c2204503.79d7d8"]]},{"id":"c2204503.79d7d8","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":535,"y":549,"wires":[]},{"id":"dc54c819.2fdcd8","type":"SMA","z":"b4e1fcae.96d4a","optInTimePeriod":14,"name":"","x":318,"y":606,"wires":[["74c45966.303b38"]]},{"id":"74c45966.303b38","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":535,"y":606,"wires":[]},{"id":"30877c8d.3036c4","type":"STDDEV","z":"89d4d62c.d7de08","optInTimePeriod":5,"optInNbDev":1,"name":"","x":332,"y":413,"wires":[["2601029a.3bedee"]]},{"id":"2601029a.3bedee","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":571,"y":412,"wires":[]},{"id":"eeb76f1e.4012f","type":"STOCH","z":"6a557a77.2c46b4","optInFastK_Period":5,"optInSlowK_Period":3,"optInSlowK_MAType":0,"optInSlowD_Period":3,"optInSlowD_MAType":0,"name":"","x":302,"y":1448,"wires":[["1cccf8d3.424167"]]},{"id":"1cccf8d3.424167","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":503,"y":1448,"wires":[]},{"id":"115aa729.ebcb89","type":"STOCHF","z":"6a557a77.2c46b4","optInFastK_Period":5,"optInFastD_Period":3,"optInFastD_MAType":0,"name":"","x":307,"y":1501,"wires":[["74060dab.9b6794"]]},{"id":"74060dab.9b6794","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":490,"y":1502,"wires":[]},{"id":"3b9c25e1.09095a","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":591,"y":1557,"wires":[]},{"id":"89685a2e.7243b8","type":"SUM","z":"7aedb073.14e22","optInTimePeriod":14,"name":"","x":324,"y":460,"wires":[["f89e5da0.3edf"]]},{"id":"f89e5da0.3edf","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":488,"y":460,"wires":[]},{"id":"6c7ce24c.77a30c","type":"STOCHRSI","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"optInFastK_Period":5,"optInFastD_Period":3,"optInFastD_MAType":0,"x":363,"y":1557,"wires":[["3b9c25e1.09095a"]]},{"id":"cb075b87.b79898","type":"T3","z":"b4e1fcae.96d4a","optInTimePeriod":14,"name":"","x":355,"y":659,"wires":[["241de946.af69e6"]]},{"id":"241de946.af69e6","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":589,"y":659,"wires":[]},{"id":"233e4179.d22a7e","type":"TEMA","z":"b4e1fcae.96d4a","optInTimePeriod":14,"name":"","x":350,"y":714,"wires":[["71852ff2.b1357"]]},{"id":"71852ff2.b1357","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":596,"y":714,"wires":[]},{"id":"e57d9ab.fb71068","type":"TRANGE","z":"6753361d.300e28","name":"","x":276,"y":235,"wires":[["22e32e9e.5c3f52"]]},{"id":"22e32e9e.5c3f52","type":"debug","z":"6753361d.300e28","name":"Result","active":true,"console":"false","complete":"true","x":446,"y":235,"wires":[]},{"id":"880a0d5a.61e44","type":"TRIX","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":423,"y":1611,"wires":[["dbc59a62.69ca78"]]},{"id":"dbc59a62.69ca78","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":718,"y":1611,"wires":[]},{"id":"861eaf7b.5cd8b","type":"TSF","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":340,"y":463,"wires":[["fbd5ed89.5403c"]]},{"id":"fbd5ed89.5403c","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":567,"y":463,"wires":[]},{"id":"f97fb046.e4eb7","type":"TYPPRICE","z":"e3a3bc3f.da83","name":"","x":288,"y":200,"wires":[["27deb5f0.05b2ea"]]},{"id":"27deb5f0.05b2ea","type":"debug","z":"e3a3bc3f.da83","name":"Result","active":true,"console":"false","complete":"true","x":466,"y":200,"wires":[]},{"id":"b94175fa.a07968","type":"ULTOSC","z":"6a557a77.2c46b4","name":"","optInTimePeriod1":14,"optInTimePeriod2":14,"optInTimePeriod3":14,"x":315,"y":1667,"wires":[["2e4aacc0.c1ae44"]]},{"id":"2e4aacc0.c1ae44","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":492,"y":1667,"wires":[]},{"id":"f9eac31f.750e","type":"VAR","z":"89d4d62c.d7de08","name":"","optInTimePeriod":5,"optInNbDev":1,"x":302,"y":513,"wires":[["96c9d8a3.602058"]]},{"id":"96c9d8a3.602058","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":449,"y":513,"wires":[]},{"id":"5de36df.1d9d094","type":"WCLPRICE","z":"e3a3bc3f.da83","name":"","x":315,"y":255,"wires":[["e5136218.fd54"]]},{"id":"e5136218.fd54","type":"debug","z":"e3a3bc3f.da83","name":"Result","active":true,"console":"false","complete":"true","x":506,"y":255,"wires":[]},{"id":"f1f3ec54.e907d","type":"WILLR","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":297,"y":1721,"wires":[["12ea8ce4.8112d3"]]},{"id":"12ea8ce4.8112d3","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":486,"y":1721,"wires":[]}]