.nodered/flows.json
[{"id":"7e6d6dc7.5531a4","type":"tab","label":"talib Indicators","disabled":false,"info":""},{"id":"29cb14c.55fb9ec","type":"ADX","z":"7e6d6dc7.5531a4","optInTimePeriod":"10","name":"","x":502,"y":150,"wires":[["2854254d.f052da"]]},{"id":"72d6d3e9.3b9a1c","type":"file in","z":"7e6d6dc7.5531a4","name":"Market Data","filename":"/home/miguel/temp/marketdata.json","format":"utf8","chunk":false,"sendError":false,"x":121,"y":1433,"wires":[["2771c98.dc71536"]]},{"id":"ea2d76e5.691d88","type":"inject","z":"7e6d6dc7.5531a4","name":"Debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":84,"y":1347,"wires":[["72d6d3e9.3b9a1c"]]},{"id":"2854254d.f052da","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":732,"y":150,"wires":[]},{"id":"2771c98.dc71536","type":"json","z":"7e6d6dc7.5531a4","name":"","pretty":true,"x":268,"y":1433,"wires":[["29cb14c.55fb9ec","ba0b785e.f85368","888be258.617c7","b85f107d.88629","e08f1bc3.a436c8","bdb3226f.9b324","469ec20.58e5b4","af691a7a.3fd7c8","7238d57a.70e58c","cb1c239e.95d59","a33eae03.ef9ce","bc18ee47.3b09d","7ec91a0e.77ed44","316450c6.c9589","57f4fa87.4a6044","87c10cf8.970cf","12354db4.623182","4b3729b9.215fb8","f6186f99.6669d","5bad2b01.6f5ef4","c3c218ef.e83608","8c25a946.7404d8","4d14fa04.3421e4","af177cae.8c926","aa136b05.736c18","d8660781.252788","a9397394.33179","3e8c1cc4.95d574","bb4923d9.a98e","902cb136.112d9","8519aa64.2ae0b8","ccf81d0d.d6aa2","af727605.9bc938","8a7970e9.9888e","e58c48e9.909638","f7b6af0.078985","21ae954d.744c1a","b7c6f90f.4d5fa8","54faba41.2b2934","59bff4f5.cf8f0c","15e19e10.46a582","c735cc49.e1dc4","6ea410e7.d5607","eb3cbecb.e2976","c8462917.2eba88","7d54efa6.c42d8","894e307f.a244f","9897ed37.5558f","3fbd077.7792df8","6a0e6fd9.2a97d","362e8423.d286cc","409154e8.5593dc","ab2b9e5.15b396","ba33ab4b.9853d8","4f02fa28.521e54","a781ce76.6995d","326481d6.7f04fe"]]},{"id":"ba0b785e.f85368","type":"AD","z":"7e6d6dc7.5531a4","name":"","x":449,"y":38,"wires":[["2bba2dfa.ae4462"]]},{"id":"2bba2dfa.ae4462","type":"debug","z":"7e6d6dc7.5531a4","name":"Debug","active":true,"console":"false","complete":"true","x":728,"y":38,"wires":[]},{"id":"888be258.617c7","type":"ADOSC","z":"7e6d6dc7.5531a4","name":"","optInFastPeriod":"3","optInSlowPeriod":"10","x":454,"y":92,"wires":[["9fd3d071.ed3c4"]]},{"id":"9fd3d071.ed3c4","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":730,"y":92,"wires":[]},{"id":"b85f107d.88629","type":"ADXR","z":"7e6d6dc7.5531a4","optInTimePeriod":14,"name":"","x":523,"y":202,"wires":[["3c79be25.b10f52"]]},{"id":"3c79be25.b10f52","type":"debug","z":"7e6d6dc7.5531a4","name":"Debug","active":true,"console":"false","complete":"true","x":773,"y":202,"wires":[]},{"id":"e08f1bc3.a436c8","type":"APO","z":"7e6d6dc7.5531a4","name":"","optInFastPeriod":12,"optInSlowPeriod":26,"optInMAType":"5","x":469,"y":260,"wires":[["398bd516.a76fba"]]},{"id":"398bd516.a76fba","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":729,"y":260,"wires":[]},{"id":"bdb3226f.9b324","type":"AROON","z":"7e6d6dc7.5531a4","optInTimePeriod":14,"name":"","x":410,"y":318,"wires":[["25be3f10.31c4f"]]},{"id":"25be3f10.31c4f","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":714,"y":318,"wires":[]},{"id":"469ec20.58e5b4","type":"AROONOSC","z":"7e6d6dc7.5531a4","optInTimePeriod":14,"name":"","x":441,"y":368,"wires":[["dbe5f1c8.ba91d"]]},{"id":"dbe5f1c8.ba91d","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":689,"y":368,"wires":[]},{"id":"af691a7a.3fd7c8","type":"ATR","z":"7e6d6dc7.5531a4","optInTimePeriod":14,"name":"","x":464,"y":420,"wires":[["4c1feea2.9250b"]]},{"id":"4c1feea2.9250b","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":692,"y":420,"wires":[]},{"id":"7238d57a.70e58c","type":"AVGPRICE","z":"7e6d6dc7.5531a4","name":"","x":450,"y":475,"wires":[["abd220cd.c4d3"]]},{"id":"abd220cd.c4d3","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":652,"y":475,"wires":[]},{"id":"cb1c239e.95d59","type":"BBANDS","z":"7e6d6dc7.5531a4","name":"","optInTimePeriod":5,"optInNbDevUp":2,"optInNbDevDn":2,"optInMAType":0,"x":450,"y":525,"wires":[["64f2d8b7.f5aa88"]]},{"id":"64f2d8b7.f5aa88","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":640,"y":525,"wires":[]},{"id":"a33eae03.ef9ce","type":"BETA","z":"7e6d6dc7.5531a4","name":"","optInTimePeriod":5,"x":420,"y":574,"wires":[["aadde2c3.2e294"]]},{"id":"aadde2c3.2e294","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":624,"y":574,"wires":[]},{"id":"bc18ee47.3b09d","type":"BOP","z":"7e6d6dc7.5531a4","name":"","x":455,"y":626,"wires":[["ae9daa3f.315a38"]]},{"id":"ae9daa3f.315a38","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":633,"y":626,"wires":[]},{"id":"7ec91a0e.77ed44","type":"CCI","z":"7e6d6dc7.5531a4","name":"","optInTimePeriod":14,"x":486,"y":680,"wires":[["8264867a.9b3c58"]]},{"id":"8264867a.9b3c58","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":691,"y":680,"wires":[]},{"id":"316450c6.c9589","type":"CDL2CROWS","z":"7e6d6dc7.5531a4","name":"","x":438,"y":734,"wires":[["80e64b3a.1a94d8"]]},{"id":"80e64b3a.1a94d8","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":609,"y":734,"wires":[]},{"id":"57f4fa87.4a6044","type":"CDL3BLACKCROWS","z":"7e6d6dc7.5531a4","name":"","x":458,"y":791,"wires":[["f1502080.5db01"]]},{"id":"f1502080.5db01","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":644,"y":791,"wires":[]},{"id":"12354db4.623182","type":"CDL3INSIDE","z":"7e6d6dc7.5531a4","name":"","x":467,"y":847,"wires":[["61ee4a48.0b0c64"]]},{"id":"61ee4a48.0b0c64","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":658,"y":847,"wires":[]},{"id":"87c10cf8.970cf","type":"CDL3LINESTRIKE","z":"7e6d6dc7.5531a4","name":"","x":461,"y":896,"wires":[["944cd014.95896"]]},{"id":"944cd014.95896","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":640,"y":896,"wires":[]},{"id":"4b3729b9.215fb8","type":"CDL3OUTSIDE","z":"7e6d6dc7.5531a4","name":"","x":477,"y":951,"wires":[["7fd9be1d.af7a7"]]},{"id":"7fd9be1d.af7a7","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":670,"y":951,"wires":[]},{"id":"f6186f99.6669d","type":"CDL3STARSINSOUTH","z":"7e6d6dc7.5531a4","name":"","x":477,"y":1005,"wires":[["b8215aae.5402d8"]]},{"id":"b8215aae.5402d8","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":668,"y":1005,"wires":[]},{"id":"5bad2b01.6f5ef4","type":"CDL3WHITESOLDIERS","z":"7e6d6dc7.5531a4","name":"","x":496,"y":1062,"wires":[["6cb4f199.d8f5f"]]},{"id":"6cb4f199.d8f5f","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":709,"y":1062,"wires":[]},{"id":"c3c218ef.e83608","type":"CDLABANDONEDBABY","z":"7e6d6dc7.5531a4","name":"","optInPenetration":0.3,"x":454,"y":1117,"wires":[["cb52f285.772a2"]]},{"id":"cb52f285.772a2","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":660,"y":1117,"wires":[]},{"id":"8c25a946.7404d8","type":"CDLADVANCEBLOCK","z":"7e6d6dc7.5531a4","name":"","x":444,"y":1169,"wires":[["8f3a88ba.4bd758"]]},{"id":"8f3a88ba.4bd758","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":621,"y":1169,"wires":[]},{"id":"4d14fa04.3421e4","type":"CDLBELTHOLD","z":"7e6d6dc7.5531a4","name":"","x":424,"y":1219,"wires":[["d143fb3f.faf958"]]},{"id":"d143fb3f.faf958","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":571,"y":1219,"wires":[]},{"id":"af177cae.8c926","type":"CDLBREAKAWAY","z":"7e6d6dc7.5531a4","name":"","x":430,"y":1269,"wires":[["3e15b72.cf7be48"]]},{"id":"3e15b72.cf7be48","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":623,"y":1269,"wires":[]},{"id":"aa136b05.736c18","type":"CDLCLOSINGMARUBOZU","z":"7e6d6dc7.5531a4","name":"","x":451,"y":1317,"wires":[["3a23de12.e083c2"]]},{"id":"3a23de12.e083c2","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":638,"y":1317,"wires":[]},{"id":"d8660781.252788","type":"CDLCONCEALBABYSWALL","z":"7e6d6dc7.5531a4","name":"","x":470,"y":1368,"wires":[["e47f95af.b17898"]]},{"id":"e47f95af.b17898","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":677,"y":1368,"wires":[]},{"id":"a9397394.33179","type":"CDLCOUNTERATTACK","z":"7e6d6dc7.5531a4","name":"","x":444,"y":1415,"wires":[["ee4d260c.6e5c38"]]},{"id":"ee4d260c.6e5c38","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":640,"y":1415,"wires":[]},{"id":"3e8c1cc4.95d574","type":"CDLDARKCLOUDCOVER","z":"7e6d6dc7.5531a4","name":"","optInPenetration":0.5,"x":449,"y":1466,"wires":[["ae013dee.55ce6"]]},{"id":"ae013dee.55ce6","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":619,"y":1466,"wires":[]},{"id":"bb4923d9.a98e","type":"CDLDOJI","z":"7e6d6dc7.5531a4","name":"","x":412,"y":1517,"wires":[["68f908cf.ac98f8"]]},{"id":"68f908cf.ac98f8","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":648,"y":1517,"wires":[]},{"id":"902cb136.112d9","type":"CDLDOJISTAR","z":"7e6d6dc7.5531a4","name":"","x":418,"y":1567,"wires":[["7bfb889f.05d238"]]},{"id":"7bfb889f.05d238","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":595,"y":1567,"wires":[]},{"id":"8519aa64.2ae0b8","type":"CDLENGULFING","z":"7e6d6dc7.5531a4","name":"","x":445,"y":1619,"wires":[["ee686ca6.79cfc"]]},{"id":"ee686ca6.79cfc","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":622,"y":1619,"wires":[]},{"id":"ccf81d0d.d6aa2","type":"CDLEVENINGDOJISTAR","z":"7e6d6dc7.5531a4","name":"","optInPenetration":0.3,"x":447,"y":1672,"wires":[["733eb3af.5439bc"]]},{"id":"733eb3af.5439bc","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":671,"y":1672,"wires":[]},{"id":"af727605.9bc938","type":"CDLEVENINGSTAR","z":"7e6d6dc7.5531a4","name":"","optInPenetration":0.3,"x":428,"y":1726,"wires":[["21354a7f.c41c86"]]},{"id":"21354a7f.c41c86","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":594,"y":1726,"wires":[]},{"id":"8a7970e9.9888e","type":"CDLGAPSIDESIDEWHITE","z":"7e6d6dc7.5531a4","name":"","x":506,"y":1780,"wires":[["5ea7e538.34915c"]]},{"id":"5ea7e538.34915c","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":732,"y":1780,"wires":[]},{"id":"e58c48e9.909638","type":"CDLGRAVESTONEDOJI","z":"7e6d6dc7.5531a4","name":"","x":441,"y":1827,"wires":[["2e2c762e.73c55a"]]},{"id":"2e2c762e.73c55a","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":604,"y":1827,"wires":[]},{"id":"f7b6af0.078985","type":"CDLHAMMER","z":"7e6d6dc7.5531a4","name":"","x":422,"y":1872,"wires":[["95d646f0.859088"]]},{"id":"95d646f0.859088","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":601,"y":1872,"wires":[]},{"id":"21ae954d.744c1a","type":"CDLHANGINGMAN","z":"7e6d6dc7.5531a4","name":"","x":429,"y":1920,"wires":[["a61ee43d.3125a8"]]},{"id":"a61ee43d.3125a8","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":594,"y":1920,"wires":[]},{"id":"b7c6f90f.4d5fa8","type":"CDLHARAMI","z":"7e6d6dc7.5531a4","name":"","x":440,"y":1973,"wires":[["60676ec3.98d2e"]]},{"id":"60676ec3.98d2e","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":617,"y":1973,"wires":[]},{"id":"54faba41.2b2934","type":"CDLHARAMICROSS","z":"7e6d6dc7.5531a4","name":"","x":457,"y":2029,"wires":[["6705a543.c2e58c"]]},{"id":"6705a543.c2e58c","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":651,"y":2029,"wires":[]},{"id":"59bff4f5.cf8f0c","type":"CDLHIGHWAVE","z":"7e6d6dc7.5531a4","name":"","x":448,"y":2086,"wires":[["b27c5c96.ad05"]]},{"id":"b27c5c96.ad05","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":661,"y":2086,"wires":[]},{"id":"15e19e10.46a582","type":"CDLHIKKAKE","z":"7e6d6dc7.5531a4","name":"","x":437,"y":2141,"wires":[["1d95d7ac.26e418"]]},{"id":"1d95d7ac.26e418","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":614,"y":2141,"wires":[]},{"id":"c735cc49.e1dc4","type":"CDLHIKKAKEMOD","z":"7e6d6dc7.5531a4","name":"","x":463,"y":2195,"wires":[["52410ae3.91b564"]]},{"id":"52410ae3.91b564","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":700,"y":2195,"wires":[]},{"id":"6ea410e7.d5607","type":"CDLHOMINGPIGEON","z":"7e6d6dc7.5531a4","name":"","x":435,"y":2244,"wires":[["7220910f.2bc71"]]},{"id":"7220910f.2bc71","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":642,"y":2244,"wires":[]},{"id":"eb3cbecb.e2976","type":"CDLIDENTICAL3CROWS","z":"7e6d6dc7.5531a4","name":"","x":454,"y":2295,"wires":[["ae54f986.825718"]]},{"id":"c8462917.2eba88","type":"CDLINNECK","z":"7e6d6dc7.5531a4","name":"","x":435,"y":2346,"wires":[["f42bf420.416dc8"]]},{"id":"ae54f986.825718","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":653,"y":2295,"wires":[]},{"id":"f42bf420.416dc8","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":659,"y":2346,"wires":[]},{"id":"7d54efa6.c42d8","type":"CDLKICKING","z":"7e6d6dc7.5531a4","name":"","x":418,"y":2456,"wires":[["232dd174.04e26e"]]},{"id":"894e307f.a244f","type":"CDLKICKINGBYLENGTH","z":"7e6d6dc7.5531a4","name":"","x":556,"y":2511,"wires":[["46f2f2e0.d1965c"]]},{"id":"9897ed37.5558f","type":"CDLINVERTEDHAMMER","z":"7e6d6dc7.5531a4","name":"","x":444,"y":2401,"wires":[["8944214d.ceb79"]]},{"id":"8944214d.ceb79","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":644,"y":2401,"wires":[]},{"id":"232dd174.04e26e","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":640,"y":2456,"wires":[]},{"id":"46f2f2e0.d1965c","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":844,"y":2511,"wires":[]},{"id":"3fbd077.7792df8","type":"CDLLADDERBOTTOM","z":"7e6d6dc7.5531a4","name":"","x":434,"y":2560,"wires":[["cad6209c.a6313"]]},{"id":"6a0e6fd9.2a97d","type":"CDLLONGLEGGEDDOJI","z":"7e6d6dc7.5531a4","name":"","x":447,"y":2611,"wires":[["f4e89a50.9fbc98"]]},{"id":"cad6209c.a6313","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":679,"y":2560,"wires":[]},{"id":"f4e89a50.9fbc98","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":679,"y":2611,"wires":[]},{"id":"409154e8.5593dc","type":"CDLMARUBOZU","z":"7e6d6dc7.5531a4","name":"","x":417,"y":2716,"wires":[["a613552b.5e0d78"]]},{"id":"ab2b9e5.15b396","type":"CDLMATCHINGLOW","z":"7e6d6dc7.5531a4","name":"","x":439,"y":2764,"wires":[["d0bfc0cd.2dd89"]]},{"id":"362e8423.d286cc","type":"CDLLONGLINE","z":"7e6d6dc7.5531a4","name":"","x":445,"y":2664,"wires":[["12e3eb7e.ef4e85"]]},{"id":"12e3eb7e.ef4e85","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":684,"y":2664,"wires":[]},{"id":"a613552b.5e0d78","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":677,"y":2716,"wires":[]},{"id":"d0bfc0cd.2dd89","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":678,"y":2764,"wires":[]},{"id":"ba33ab4b.9853d8","type":"CDLMATHOLD","z":"7e6d6dc7.5531a4","name":"","optInPenetration":0.3,"x":417,"y":2810,"wires":[["3629ab3c.074de4"]]},{"id":"4f02fa28.521e54","type":"CDLMORNINGDOJISTAR","z":"7e6d6dc7.5531a4","name":"","optInPenetration":0.3,"x":445,"y":2857,"wires":[["bd1dc36a.3dda6"]]},{"id":"3629ab3c.074de4","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":683,"y":2810,"wires":[]},{"id":"bd1dc36a.3dda6","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":685,"y":2857,"wires":[]},{"id":"a781ce76.6995d","type":"CDLMORNINGSTAR","z":"7e6d6dc7.5531a4","name":"","optInPenetration":0.3,"x":423,"y":2911,"wires":[["d146fc4b.0f383"]]},{"id":"326481d6.7f04fe","type":"CDLONNECK","z":"7e6d6dc7.5531a4","name":"","x":444,"y":2967,"wires":[["6b4598be.ebb6f8"]]},{"id":"d146fc4b.0f383","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":657,"y":2911,"wires":[]},{"id":"6b4598be.ebb6f8","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":679,"y":2967,"wires":[]}]