.nodered/flows.json
[{"id":"7e6d6dc7.5531a4","type":"tab","label":"talib Indicators","disabled":false,"info":""},{"id":"29cb14c.55fb9ec","type":"ADX","z":"7e6d6dc7.5531a4","optInTimePeriod":"10","name":"","x":502,"y":150,"wires":[["2854254d.f052da"]]},{"id":"72d6d3e9.3b9a1c","type":"file in","z":"7e6d6dc7.5531a4","name":"Market Data","filename":"/home/miguel/temp/marketdata.json","format":"utf8","chunk":false,"sendError":false,"x":133,"y":794,"wires":[["2771c98.dc71536"]]},{"id":"ea2d76e5.691d88","type":"inject","z":"7e6d6dc7.5531a4","name":"Debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":76,"y":708,"wires":[["72d6d3e9.3b9a1c"]]},{"id":"2854254d.f052da","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":732,"y":150,"wires":[]},{"id":"2771c98.dc71536","type":"json","z":"7e6d6dc7.5531a4","name":"","pretty":true,"x":280,"y":794,"wires":[["29cb14c.55fb9ec","ba0b785e.f85368","888be258.617c7","b85f107d.88629","e08f1bc3.a436c8","bdb3226f.9b324","469ec20.58e5b4","af691a7a.3fd7c8","7238d57a.70e58c","cb1c239e.95d59","a33eae03.ef9ce","bc18ee47.3b09d","7ec91a0e.77ed44","316450c6.c9589","57f4fa87.4a6044","87c10cf8.970cf","12354db4.623182","4b3729b9.215fb8","f6186f99.6669d","5bad2b01.6f5ef4","c3c218ef.e83608","8c25a946.7404d8","4d14fa04.3421e4","af177cae.8c926","aa136b05.736c18","d8660781.252788","a9397394.33179","3e8c1cc4.95d574","bb4923d9.a98e"]]},{"id":"ba0b785e.f85368","type":"AD","z":"7e6d6dc7.5531a4","name":"","x":449,"y":38,"wires":[["2bba2dfa.ae4462"]]},{"id":"2bba2dfa.ae4462","type":"debug","z":"7e6d6dc7.5531a4","name":"Debug","active":true,"console":"false","complete":"true","x":728,"y":38,"wires":[]},{"id":"888be258.617c7","type":"ADOSC","z":"7e6d6dc7.5531a4","name":"","optInFastPeriod":"3","optInSlowPeriod":"10","x":454,"y":92,"wires":[["9fd3d071.ed3c4"]]},{"id":"9fd3d071.ed3c4","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":730,"y":92,"wires":[]},{"id":"b85f107d.88629","type":"ADXR","z":"7e6d6dc7.5531a4","optInTimePeriod":14,"name":"","x":523,"y":202,"wires":[["3c79be25.b10f52"]]},{"id":"3c79be25.b10f52","type":"debug","z":"7e6d6dc7.5531a4","name":"Debug","active":true,"console":"false","complete":"true","x":773,"y":202,"wires":[]},{"id":"e08f1bc3.a436c8","type":"APO","z":"7e6d6dc7.5531a4","name":"","optInFastPeriod":12,"optInSlowPeriod":26,"optInMAType":"5","x":469,"y":260,"wires":[["398bd516.a76fba"]]},{"id":"398bd516.a76fba","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":729,"y":260,"wires":[]},{"id":"bdb3226f.9b324","type":"AROON","z":"7e6d6dc7.5531a4","optInTimePeriod":14,"name":"","x":410,"y":318,"wires":[["25be3f10.31c4f"]]},{"id":"25be3f10.31c4f","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":714,"y":318,"wires":[]},{"id":"469ec20.58e5b4","type":"AROONOSC","z":"7e6d6dc7.5531a4","optInTimePeriod":14,"name":"","x":441,"y":368,"wires":[["dbe5f1c8.ba91d"]]},{"id":"dbe5f1c8.ba91d","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":689,"y":368,"wires":[]},{"id":"af691a7a.3fd7c8","type":"ATR","z":"7e6d6dc7.5531a4","optInTimePeriod":14,"name":"","x":464,"y":420,"wires":[["4c1feea2.9250b"]]},{"id":"4c1feea2.9250b","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":692,"y":420,"wires":[]},{"id":"7238d57a.70e58c","type":"AVGPRICE","z":"7e6d6dc7.5531a4","name":"","x":450,"y":475,"wires":[["abd220cd.c4d3"]]},{"id":"abd220cd.c4d3","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":652,"y":475,"wires":[]},{"id":"cb1c239e.95d59","type":"BBANDS","z":"7e6d6dc7.5531a4","name":"","optInTimePeriod":5,"optInNbDevUp":2,"optInNbDevDn":2,"optInMAType":0,"x":450,"y":525,"wires":[["64f2d8b7.f5aa88"]]},{"id":"64f2d8b7.f5aa88","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":640,"y":525,"wires":[]},{"id":"a33eae03.ef9ce","type":"BETA","z":"7e6d6dc7.5531a4","name":"","optInTimePeriod":5,"x":420,"y":574,"wires":[["aadde2c3.2e294"]]},{"id":"aadde2c3.2e294","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":624,"y":574,"wires":[]},{"id":"bc18ee47.3b09d","type":"BOP","z":"7e6d6dc7.5531a4","name":"","x":455,"y":626,"wires":[["ae9daa3f.315a38"]]},{"id":"ae9daa3f.315a38","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":633,"y":626,"wires":[]},{"id":"7ec91a0e.77ed44","type":"CCI","z":"7e6d6dc7.5531a4","name":"","optInTimePeriod":14,"x":486,"y":680,"wires":[["8264867a.9b3c58"]]},{"id":"8264867a.9b3c58","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":691,"y":680,"wires":[]},{"id":"316450c6.c9589","type":"CDL2CROWS","z":"7e6d6dc7.5531a4","name":"","x":438,"y":734,"wires":[["80e64b3a.1a94d8"]]},{"id":"80e64b3a.1a94d8","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":609,"y":734,"wires":[]},{"id":"57f4fa87.4a6044","type":"CDL3BLACKCROWS","z":"7e6d6dc7.5531a4","name":"","x":458,"y":791,"wires":[["f1502080.5db01"]]},{"id":"f1502080.5db01","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":644,"y":791,"wires":[]},{"id":"12354db4.623182","type":"CDL3INSIDE","z":"7e6d6dc7.5531a4","name":"","x":467,"y":847,"wires":[["61ee4a48.0b0c64"]]},{"id":"61ee4a48.0b0c64","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":658,"y":847,"wires":[]},{"id":"87c10cf8.970cf","type":"CDL3LINESTRIKE","z":"7e6d6dc7.5531a4","name":"","x":461,"y":896,"wires":[["944cd014.95896"]]},{"id":"944cd014.95896","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":640,"y":896,"wires":[]},{"id":"4b3729b9.215fb8","type":"CDL3OUTSIDE","z":"7e6d6dc7.5531a4","name":"","x":477,"y":951,"wires":[["7fd9be1d.af7a7"]]},{"id":"7fd9be1d.af7a7","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":670,"y":951,"wires":[]},{"id":"f6186f99.6669d","type":"CDL3STARSINSOUTH","z":"7e6d6dc7.5531a4","name":"","x":477,"y":1005,"wires":[["b8215aae.5402d8"]]},{"id":"b8215aae.5402d8","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":668,"y":1005,"wires":[]},{"id":"5bad2b01.6f5ef4","type":"CDL3WHITESOLDIERS","z":"7e6d6dc7.5531a4","name":"","x":496,"y":1062,"wires":[["6cb4f199.d8f5f"]]},{"id":"6cb4f199.d8f5f","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":709,"y":1062,"wires":[]},{"id":"c3c218ef.e83608","type":"CDLABANDONEDBABY","z":"7e6d6dc7.5531a4","name":"","optInPenetration":0.3,"x":454,"y":1117,"wires":[["cb52f285.772a2"]]},{"id":"cb52f285.772a2","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":660,"y":1117,"wires":[]},{"id":"8c25a946.7404d8","type":"CDLADVANCEBLOCK","z":"7e6d6dc7.5531a4","name":"","x":444,"y":1169,"wires":[["8f3a88ba.4bd758"]]},{"id":"8f3a88ba.4bd758","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":621,"y":1169,"wires":[]},{"id":"4d14fa04.3421e4","type":"CDLBELTHOLD","z":"7e6d6dc7.5531a4","name":"","x":424,"y":1219,"wires":[["d143fb3f.faf958"]]},{"id":"d143fb3f.faf958","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":571,"y":1219,"wires":[]},{"id":"af177cae.8c926","type":"CDLBREAKAWAY","z":"7e6d6dc7.5531a4","name":"","x":430,"y":1269,"wires":[["3e15b72.cf7be48"]]},{"id":"3e15b72.cf7be48","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":623,"y":1269,"wires":[]},{"id":"aa136b05.736c18","type":"CDLCLOSINGMARUBOZU","z":"7e6d6dc7.5531a4","name":"","x":451,"y":1317,"wires":[["3a23de12.e083c2"]]},{"id":"3a23de12.e083c2","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":638,"y":1317,"wires":[]},{"id":"d8660781.252788","type":"CDLCONCEALBABYSWALL","z":"7e6d6dc7.5531a4","name":"","x":470,"y":1368,"wires":[["e47f95af.b17898"]]},{"id":"e47f95af.b17898","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":677,"y":1368,"wires":[]},{"id":"a9397394.33179","type":"CDLCOUNTERATTACK","z":"7e6d6dc7.5531a4","name":"","x":444,"y":1415,"wires":[["ee4d260c.6e5c38"]]},{"id":"ee4d260c.6e5c38","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":640,"y":1415,"wires":[]},{"id":"3e8c1cc4.95d574","type":"CDLDARKCLOUDCOVER","z":"7e6d6dc7.5531a4","name":"","optInPenetration":0.5,"x":449,"y":1466,"wires":[["ae013dee.55ce6"]]},{"id":"ae013dee.55ce6","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":619,"y":1466,"wires":[]},{"id":"bb4923d9.a98e","type":"CDLDOJI","z":"7e6d6dc7.5531a4","name":"","x":412,"y":1517,"wires":[["68f908cf.ac98f8"]]},{"id":"68f908cf.ac98f8","type":"debug","z":"7e6d6dc7.5531a4","name":"Result","active":true,"console":"false","complete":"true","x":648,"y":1517,"wires":[]}]