.nodered/flows.json
[{"id":"6a9d4356.64b6ec","type":"tab","label":"Bittrex","disabled":false,"info":""},{"id":"7e6d6dc7.5531a4","type":"tab","label":"talib Indicators","disabled":false,"info":""},{"id":"bd892ea6.8565b","type":"tab","label":"Volume Indicators","disabled":false,"info":""},{"id":"6a557a77.2c46b4","type":"tab","label":"Momentum Indicators","disabled":false,"info":""},{"id":"6753361d.300e28","type":"tab","label":"Volatility Indicators","disabled":false,"info":""},{"id":"e3a3bc3f.da83","type":"tab","label":"Price Transform","disabled":false,"info":""},{"id":"b4e1fcae.96d4a","type":"tab","label":"Overlap Studies","disabled":false,"info":""},{"id":"89d4d62c.d7de08","type":"tab","label":"Statistic Functions","disabled":false,"info":""},{"id":"83b456cd.a47bc8","type":"tab","label":"Pattern Recognition","disabled":false,"info":""},{"id":"63e27bdc.749274","type":"tab","label":"Cycle Indicators","disabled":false,"info":""},{"id":"7aedb073.14e22","type":"tab","label":"Math Operators","disabled":false,"info":""},{"id":"72d6d3e9.3b9a1c","type":"file in","z":"7e6d6dc7.5531a4","name":"Market Data","filename":"./example/marketdata.json","format":"utf8","chunk":false,"sendError":false,"x":287.75,"y":259.4999694824219,"wires":[["2771c98.dc71536"]]},{"id":"ea2d76e5.691d88","type":"inject","z":"7e6d6dc7.5531a4","name":"Debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120.24999618530273,"y":259.49996852874756,"wires":[["72d6d3e9.3b9a1c"]]},{"id":"2771c98.dc71536","type":"json","z":"7e6d6dc7.5531a4","name":"","pretty":true,"x":446.50000381469727,"y":259.4999694824219,"wires":[["3e7e653.4bca99a","134c9970.f554b7","f86768fa.63f8c8","8ef5910a.382e1","8097d6b0.535928","e000ce37.26fa1","e882342b.525088","f0e26bf7.ac0928","661bb652.fec048"]]},{"id":"bd2ee847.572db8","type":"link in","z":"e3a3bc3f.da83","name":"","links":["3e7e653.4bca99a"],"x":160,"y":176,"wires":[["7dc6a1cb.25134","3e99d352.103d5c","f97fb046.e4eb7","5de36df.1d9d094"]]},{"id":"7dc6a1cb.25134","type":"MEDPRICE","z":"e3a3bc3f.da83","name":"","x":301,"y":146,"wires":[["54ed9b8b.44d364"]]},{"id":"54ed9b8b.44d364","type":"debug","z":"e3a3bc3f.da83","name":"Result","active":true,"console":"false","complete":"true","x":462,"y":146,"wires":[]},{"id":"3e7e653.4bca99a","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["bd2ee847.572db8"],"x":575.25,"y":208.25003051757812,"wires":[]},{"id":"dbd89717.465478","type":"link in","z":"7aedb073.14e22","name":"","links":["134c9970.f554b7"],"x":191,"y":285,"wires":[["29c05a27.d4fe36","d16c8e4f.4c33d","4fbfd5ef.0485bc","8605fae7.e2b948","21381335.58484c","1d2bcff1.7f54d","89685a2e.7243b8"]]},{"id":"29c05a27.d4fe36","type":"MAX","z":"7aedb073.14e22","name":"","optInTimePeriod":30,"x":390,"y":84,"wires":[["48ad0091.44999"]]},{"id":"d16c8e4f.4c33d","type":"MAXINDEX","z":"7aedb073.14e22","name":"","optInTimePeriod":30,"x":417,"y":159,"wires":[["9c18372a.97e0e8"]]},{"id":"9c18372a.97e0e8","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":685,"y":159,"wires":[]},{"id":"48ad0091.44999","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":635,"y":84,"wires":[]},{"id":"134c9970.f554b7","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["dbd89717.465478"],"x":573.75,"y":473.2500305175781,"wires":[]},{"id":"1f3f344b.413cfc","type":"HT_DCPERIOD","z":"63e27bdc.749274","name":"","x":351,"y":68,"wires":[["8ad8cc5.9e4f83"]]},{"id":"8ad8cc5.9e4f83","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":625,"y":68,"wires":[]},{"id":"b274aa4b.49ab48","type":"HT_DCPHASE","z":"63e27bdc.749274","name":"","x":352,"y":122,"wires":[["2884f303.5ca81c"]]},{"id":"2884f303.5ca81c","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":626,"y":122,"wires":[]},{"id":"648ed25a.8fda2c","type":"HT_PHASOR","z":"63e27bdc.749274","name":"","x":345,"y":169,"wires":[["27f2a02d.a3d83"]]},{"id":"27f2a02d.a3d83","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":622,"y":169,"wires":[]},{"id":"c187a60d.bbe548","type":"HT_SINE","z":"63e27bdc.749274","name":"","x":334,"y":217,"wires":[["7bb2584c.3510f8"]]},{"id":"7bb2584c.3510f8","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":606,"y":217,"wires":[]},{"id":"46acceec.1406d","type":"HT_TRENDLINE","z":"63e27bdc.749274","name":"","x":359,"y":265,"wires":[["9ba5ea60.f30df8"]]},{"id":"c6822207.2e82e","type":"HT_TRENDMODE","z":"63e27bdc.749274","name":"","x":358,"y":316,"wires":[["8762df2c.0091"]]},{"id":"8762df2c.0091","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":630,"y":315,"wires":[]},{"id":"9ba5ea60.f30df8","type":"debug","z":"63e27bdc.749274","name":"Result","active":true,"console":"false","complete":"true","x":641,"y":265,"wires":[]},{"id":"49cd752c.9c07ec","type":"link in","z":"63e27bdc.749274","name":"","links":["f86768fa.63f8c8"],"x":171,"y":196,"wires":[["1f3f344b.413cfc","b274aa4b.49ab48","648ed25a.8fda2c","c187a60d.bbe548","46acceec.1406d","c6822207.2e82e"]]},{"id":"f86768fa.63f8c8","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["49cd752c.9c07ec"],"x":576,"y":416.7500305175781,"wires":[]},{"id":"37e8a0b3.3ab49","type":"CDL2CROWS","z":"83b456cd.a47bc8","name":"","x":317,"y":68,"wires":[["e22ef370.63f9c"]]},{"id":"e22ef370.63f9c","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":488,"y":68,"wires":[]},{"id":"a9cd7db8.bd4c1","type":"CDL3BLACKCROWS","z":"83b456cd.a47bc8","name":"","x":337,"y":125,"wires":[["5a14faf4.04c1c4"]]},{"id":"5a14faf4.04c1c4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":523,"y":125,"wires":[]},{"id":"9fbcb1ea.641c8","type":"CDL3INSIDE","z":"83b456cd.a47bc8","name":"","x":346,"y":181,"wires":[["8d3c1a80.5e0d28"]]},{"id":"8d3c1a80.5e0d28","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":537,"y":181,"wires":[]},{"id":"f3003600.a5d228","type":"CDL3LINESTRIKE","z":"83b456cd.a47bc8","name":"","x":340,"y":230,"wires":[["767f9b93.9033b4"]]},{"id":"767f9b93.9033b4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":519,"y":230,"wires":[]},{"id":"af3bfd4c.0629","type":"CDL3OUTSIDE","z":"83b456cd.a47bc8","name":"","x":356,"y":285,"wires":[["67956c61.ccd4f4"]]},{"id":"67956c61.ccd4f4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":549,"y":285,"wires":[]},{"id":"f55cc184.fddaf","type":"CDL3STARSINSOUTH","z":"83b456cd.a47bc8","name":"","x":356,"y":339,"wires":[["adbd49cb.f2b578"]]},{"id":"adbd49cb.f2b578","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":547,"y":339,"wires":[]},{"id":"2d996f16.34776","type":"CDL3WHITESOLDIERS","z":"83b456cd.a47bc8","name":"","x":375,"y":396,"wires":[["17c2014e.c920bf"]]},{"id":"17c2014e.c920bf","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":588,"y":396,"wires":[]},{"id":"cbab20d9.4124f","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":539,"y":448,"wires":[]},{"id":"c426aa83.cdc1a8","type":"CDLADVANCEBLOCK","z":"83b456cd.a47bc8","name":"","x":323,"y":503,"wires":[["3d20a47f.b5349c"]]},{"id":"3d20a47f.b5349c","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":500,"y":503,"wires":[]},{"id":"d1605871.41fc08","type":"CDLBELTHOLD","z":"83b456cd.a47bc8","name":"","x":303,"y":553,"wires":[["87bd2de3.75657"]]},{"id":"87bd2de3.75657","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":450,"y":553,"wires":[]},{"id":"39793b0f.4dde24","type":"CDLBREAKAWAY","z":"83b456cd.a47bc8","name":"","x":309,"y":603,"wires":[["14d1ed53.68eeb3"]]},{"id":"14d1ed53.68eeb3","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":502,"y":603,"wires":[]},{"id":"ff7c2e36.2c5b8","type":"CDLCLOSINGMARUBOZU","z":"83b456cd.a47bc8","name":"","x":330,"y":651,"wires":[["a161f086.d5ceb"]]},{"id":"a161f086.d5ceb","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":517,"y":651,"wires":[]},{"id":"4a994ab.966beb4","type":"CDLCONCEALBABYSWALL","z":"83b456cd.a47bc8","name":"","x":349,"y":702,"wires":[["67b0fc05.fa08e4"]]},{"id":"67b0fc05.fa08e4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":556,"y":702,"wires":[]},{"id":"62414605.ca19c8","type":"CDLCOUNTERATTACK","z":"83b456cd.a47bc8","name":"","x":323,"y":749,"wires":[["7326b889.f9ad88"]]},{"id":"7326b889.f9ad88","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":519,"y":749,"wires":[]},{"id":"76bcb0c0.38456","type":"CDLDARKCLOUDCOVER","z":"83b456cd.a47bc8","name":"","optInPenetration":0.5,"x":328,"y":800,"wires":[["7096609.55550a"]]},{"id":"7096609.55550a","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":536,"y":800,"wires":[]},{"id":"8e4dde0c.41805","type":"CDLDOJI","z":"83b456cd.a47bc8","name":"","x":291,"y":851,"wires":[["3081108f.ff00a"]]},{"id":"3081108f.ff00a","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":527,"y":851,"wires":[]},{"id":"865da10e.1184d","type":"CDLDOJISTAR","z":"83b456cd.a47bc8","name":"","x":297,"y":901,"wires":[["5c99a148.bb281"]]},{"id":"5c99a148.bb281","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":474,"y":901,"wires":[]},{"id":"52cbed01.48e1b4","type":"CDLENGULFING","z":"83b456cd.a47bc8","name":"","x":338,"y":1005,"wires":[["64af68de.ea5e98"]]},{"id":"64af68de.ea5e98","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":544,"y":1004,"wires":[]},{"id":"dce783df.518b5","type":"CDLEVENINGDOJISTAR","z":"83b456cd.a47bc8","name":"","optInPenetration":0.3,"x":359,"y":1060,"wires":[["ccd640d0.5b6b4"]]},{"id":"ccd640d0.5b6b4","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":583,"y":1060,"wires":[]},{"id":"fdf7d820.27bf38","type":"CDLEVENINGSTAR","z":"83b456cd.a47bc8","name":"","optInPenetration":0.3,"x":339,"y":1115,"wires":[["aeecf905.042a88"]]},{"id":"aeecf905.042a88","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":552,"y":1115,"wires":[]},{"id":"2bc9d6ca.e56aba","type":"CDLGAPSIDESIDEWHITE","z":"83b456cd.a47bc8","name":"","x":365,"y":1176,"wires":[["25b1870d.85dfd8"]]},{"id":"25b1870d.85dfd8","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":625,"y":1175,"wires":[]},{"id":"2045d3a5.31667c","type":"link in","z":"83b456cd.a47bc8","name":"","links":["8ef5910a.382e1"],"x":130.00000190734863,"y":1486.500020980835,"wires":[["37e8a0b3.3ab49","a9cd7db8.bd4c1","9fbcb1ea.641c8","f3003600.a5d228","af3bfd4c.0629","f55cc184.fddaf","2d996f16.34776","c426aa83.cdc1a8","d1605871.41fc08","39793b0f.4dde24","ff7c2e36.2c5b8","4a994ab.966beb4","62414605.ca19c8","76bcb0c0.38456","8e4dde0c.41805","865da10e.1184d","52cbed01.48e1b4","dce783df.518b5","fdf7d820.27bf38","2bc9d6ca.e56aba","bfd9f517.4f7448","3270bcb2.fd4444","18a5a120.7cac4f","e66a3b8b.80a208","9184087e.a9efc8","fb15a51f.98b628","66c85249.a92fac","1ae83d23.9d5883","619cc80b.fc51d8","514b5576.4982fc","14ff3d48.c0abf3","8061d4bf.f05038","334b00b4.8e9cf","df555658.973778","2fee64fe.801e5c","a0972154.4d12e","1cc1a1fb.2a6a1e","701053cb.ab47dc","d5ef950c.c40748","29f8777.8542188","25a4ed19.2557d2","795c67c1.32fd68","d5790ef7.4ed7c","ef886974.f77788","5272eb76.2a9d34","93aef4e5.8c2c38","f5bcbedf.22b89","b4af9ba4.63c008","7ccc0757.806708","28a1b2be.74d49e","504f7c49.9f81c4","ff48c0fc.c369f","58d10a99.599274","32dc15b5.366a0a","f7b1e42c.3608d8","ef3e59dd.c52598","c1088fb1.059c","5f5d9af4.be9684","abce59e.4fd5da8","dd70ab64.4b3758","b5a9b09e.69019"]]},{"id":"8ef5910a.382e1","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["2045d3a5.31667c"],"x":574.75,"y":366,"wires":[]},{"id":"3e99d352.103d5c","type":"AVGPRICE","z":"e3a3bc3f.da83","name":"","x":305,"y":86,"wires":[["ed1faa8e.b489b8"]]},{"id":"ed1faa8e.b489b8","type":"debug","z":"e3a3bc3f.da83","name":"Result","active":true,"console":"false","complete":"true","x":466,"y":86,"wires":[]},{"id":"6f8a7063.2fb3f","type":"ADX","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":299,"y":71,"wires":[["79096282.82be4c"]]},{"id":"3f298232.8c5f8e","type":"ADXR","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":293,"y":123,"wires":[["fbc0538f.3fa85"]]},{"id":"2593b977.a55e26","type":"link in","z":"6a557a77.2c46b4","name":"","links":["8097d6b0.535928"],"x":158,"y":789,"wires":[["6f8a7063.2fb3f","3f298232.8c5f8e","f6d1ae4e.dd301","8c85834f.93069","9bc004c2.b5fa28","904d60fe.b2b7f","6148e3b8.b8c7fc","52dfe171.a19da","ae9a2279.d156c","ba01db70.b09168","d0e55962.60ff48","b834f3af.61bfa","362529a6.46ca26","e66570f8.e8955","e54f471b.82e178","5800acec.842da4","4a0a4f29.58a83","3d64f21e.82b8ce","6d75c63a.a21f68","2d95503e.6de8b","c7e0c879.1f4828","3a0ba5fb.63168a","808811e.e78edf","621c1b94.491454","eeb76f1e.4012f","115aa729.ebcb89","6c7ce24c.77a30c","880a0d5a.61e44","b94175fa.a07968","f1f3ec54.e907d"]]},{"id":"f6d1ae4e.dd301","type":"APO","z":"6a557a77.2c46b4","name":"","optInFastPeriod":12,"optInSlowPeriod":26,"optInMAType":0,"x":298,"y":181,"wires":[["967a89cf.181df8"]]},{"id":"8c85834f.93069","type":"AROON","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":296,"y":241,"wires":[["6c754424.f7c36c"]]},{"id":"9bc004c2.b5fa28","type":"AROONOSC","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":324,"y":296,"wires":[["f839776a.4a9238"]]},{"id":"904d60fe.b2b7f","type":"BOP","z":"6a557a77.2c46b4","name":"","x":331,"y":353,"wires":[["43c95558.766c5c"]]},{"id":"6148e3b8.b8c7fc","type":"CCI","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":360,"y":413,"wires":[["57b6860f.f24bf8"]]},{"id":"52dfe171.a19da","type":"CMO","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":366,"y":471,"wires":[["cfd2b581.29ce78"]]},{"id":"ae9a2279.d156c","type":"DX","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":356,"y":529,"wires":[["b76faa85.a905f8"]]},{"id":"ba01db70.b09168","type":"MACD","z":"6a557a77.2c46b4","name":"","optInFastPeriod":"12","optInSlowPeriod":"26","optInSignalPeriod":"9","x":353,"y":585,"wires":[["94e619d9.81a3e8"]]},{"id":"d0e55962.60ff48","type":"MACDEXT","z":"6a557a77.2c46b4","name":"","optInFastPeriod":12,"optInFastMAType":0,"optInSlowPeriod":26,"optInSlowMAType":0,"optInSignalPeriod":9,"optInSignalMAType":0,"x":373,"y":646,"wires":[["684ea79.acf2c58"]]},{"id":"b834f3af.61bfa","type":"MACDFIX","z":"6a557a77.2c46b4","name":"","optInSignalPeriod":9,"x":360,"y":701,"wires":[["7e16a3f1.0a0e1c"]]},{"id":"8097d6b0.535928","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["2593b977.a55e26"],"x":574.75,"y":102.75,"wires":[]},{"id":"a654ac5a.1ef4d","type":"AD","z":"bd892ea6.8565b","name":"","x":376,"y":87,"wires":[["6c5e6b60.aa87a4"]]},{"id":"feca06ee.4d7108","type":"ADOSC","z":"bd892ea6.8565b","name":"","optInFastPeriod":"3","optInSlowPeriod":"10","x":385,"y":147,"wires":[["af512da3.8647c"]]},{"id":"e4bd71b7.72da7","type":"link in","z":"bd892ea6.8565b","name":"","links":["e000ce37.26fa1"],"x":209,"y":147,"wires":[["a654ac5a.1ef4d","feca06ee.4d7108","30e24de6.248d62"]]},{"id":"e000ce37.26fa1","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["e4bd71b7.72da7"],"x":574.25,"y":54.00000762939453,"wires":[]},{"id":"dfc6bde7.c85b4","type":"ATR","z":"6753361d.300e28","optInTimePeriod":14,"name":"","x":303,"y":129,"wires":[["7a8f8340.8595bc"]]},{"id":"8dc922c0.0bb72","type":"link in","z":"6753361d.300e28","name":"","links":["e882342b.525088"],"x":149,"y":180,"wires":[["dfc6bde7.c85b4","e2c5883f.a2c948","e57d9ab.fb71068"]]},{"id":"e882342b.525088","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["8dc922c0.0bb72"],"x":575,"y":155.00000762939453,"wires":[]},{"id":"e761e113.a4cd8","type":"BBANDS","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":5,"optInNbDevUp":2,"optInNbDevDn":2,"optInMAType":0,"x":321,"y":67,"wires":[["7428327d.e3185c"]]},{"id":"72d65e91.d49ef","type":"DEMA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"x":322,"y":123,"wires":[["4d98f1d6.7a941"]]},{"id":"2ab53ccb.c654d4","type":"EMA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"x":327,"y":178,"wires":[["332d6639.bbac5a"]]},{"id":"4baea759.77baf8","type":"KAMA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"x":321,"y":234,"wires":[["60446cf3.51e214"]]},{"id":"1c1489ab.8f33d6","type":"MA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":30,"optInMAType":0,"x":316,"y":291,"wires":[["386fa1ed.bd642e"]]},{"id":"94fcb786.df58a8","type":"MAMA","z":"b4e1fcae.96d4a","name":"","optInFastLimit":0.5,"optInSlowLimit":0.05,"x":310,"y":346,"wires":[["7a5e8a2c.1eab64"]]},{"id":"b51b673f.7984b8","type":"link in","z":"b4e1fcae.96d4a","name":"","links":["f0e26bf7.ac0928"],"x":158,"y":417,"wires":[["e761e113.a4cd8","72d65e91.d49ef","2ab53ccb.c654d4","4baea759.77baf8","1c1489ab.8f33d6","94fcb786.df58a8","9339ddd0.94fb5","c579417d.fad38","10db2e3e.64be42","fdd159db.3eb6f8","dc54c819.2fdcd8","cb075b87.b79898","233e4179.d22a7e","74141828.23ec48"]]},{"id":"f0e26bf7.ac0928","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["b51b673f.7984b8"],"x":574.5,"y":259.75001525878906,"wires":[]},{"id":"50770821.2ad558","type":"BETA","z":"89d4d62c.d7de08","name":"","optInTimePeriod":5,"x":302,"y":99,"wires":[["8d272cb9.4a4bf"]]},{"id":"f488ec53.40fce","type":"CORREL","z":"89d4d62c.d7de08","name":"","optInTimePeriod":5,"x":323,"y":145,"wires":[["694ced67.723654"]]},{"id":"d1ceb9bc.41e0d8","type":"LINEARREG","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":338,"y":198,"wires":[["b6947037.1bd1e"]]},{"id":"a5ec69f6.4a2e78","type":"LINEARREG_ANGLE","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":355,"y":249,"wires":[["dc4869a1.b61fc8"]]},{"id":"25b09363.329dac","type":"LINEARREG_INTERCEPT","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":369,"y":302,"wires":[["859917c6.a1cec8"]]},{"id":"4052a271.fb0fdc","type":"LINEARREG_SLOPE","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":371,"y":360,"wires":[["a5c87e35.ece8e"]]},{"id":"aa7dcdef.30f12","type":"link in","z":"89d4d62c.d7de08","name":"","links":["661bb652.fec048"],"x":168,"y":310,"wires":[["50770821.2ad558","f488ec53.40fce","d1ceb9bc.41e0d8","a5ec69f6.4a2e78","25b09363.329dac","4052a271.fb0fdc","30877c8d.3036c4","861eaf7b.5cd8b","f9eac31f.750e"]]},{"id":"661bb652.fec048","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["aa7dcdef.30f12"],"x":574.5,"y":313.00001525878906,"wires":[]},{"id":"8d272cb9.4a4bf","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":500,"y":99,"wires":[]},{"id":"694ced67.723654","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":535,"y":145,"wires":[]},{"id":"b6947037.1bd1e","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":571,"y":198,"wires":[]},{"id":"dc4869a1.b61fc8","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":589,"y":249,"wires":[]},{"id":"859917c6.a1cec8","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":590,"y":302,"wires":[]},{"id":"a5c87e35.ece8e","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":565,"y":360,"wires":[]},{"id":"7428327d.e3185c","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":534,"y":67,"wires":[]},{"id":"4d98f1d6.7a941","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":534,"y":123,"wires":[]},{"id":"332d6639.bbac5a","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":537,"y":178,"wires":[]},{"id":"60446cf3.51e214","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":537,"y":234,"wires":[]},{"id":"386fa1ed.bd642e","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":539,"y":290,"wires":[]},{"id":"7a5e8a2c.1eab64","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":532,"y":346,"wires":[]},{"id":"7a8f8340.8595bc","type":"debug","z":"6753361d.300e28","name":"Result","active":true,"console":"false","complete":"true","x":459,"y":129,"wires":[]},{"id":"79096282.82be4c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":490,"y":71,"wires":[]},{"id":"fbc0538f.3fa85","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":492,"y":123,"wires":[]},{"id":"967a89cf.181df8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":490,"y":182,"wires":[]},{"id":"6c754424.f7c36c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":493,"y":241,"wires":[]},{"id":"f839776a.4a9238","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":505,"y":296,"wires":[]},{"id":"43c95558.766c5c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":525,"y":353,"wires":[]},{"id":"57b6860f.f24bf8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":572,"y":413,"wires":[]},{"id":"cfd2b581.29ce78","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":597,"y":471,"wires":[]},{"id":"b76faa85.a905f8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":610,"y":529,"wires":[]},{"id":"94e619d9.81a3e8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":622,"y":585,"wires":[]},{"id":"684ea79.acf2c58","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":609,"y":646,"wires":[]},{"id":"7e16a3f1.0a0e1c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":578,"y":701,"wires":[]},{"id":"6c5e6b60.aa87a4","type":"debug","z":"bd892ea6.8565b","name":"Result","active":true,"console":"false","complete":"true","x":570,"y":87,"wires":[]},{"id":"af512da3.8647c","type":"debug","z":"bd892ea6.8565b","name":"Result","active":true,"console":"false","complete":"true","x":588,"y":147,"wires":[]},{"id":"7ce8b269.86121c","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":546,"y":758,"wires":[]},{"id":"9339ddd0.94fb5","type":"MIDPRICE","z":"b4e1fcae.96d4a","optInTimePeriod":14,"name":"","x":328,"y":448,"wires":[["fba75d2c.1792d"]]},{"id":"fba75d2c.1792d","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":531,"y":448,"wires":[]},{"id":"7569d048.21e6c","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":533,"y":398,"wires":[]},{"id":"4fbfd5ef.0485bc","type":"MIN","z":"7aedb073.14e22","optInTimePeriod":14,"name":"","x":394,"y":223,"wires":[["810b0a0e.84f2f8"]]},{"id":"810b0a0e.84f2f8","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":638,"y":223,"wires":[]},{"id":"8605fae7.e2b948","type":"MININDEX","z":"7aedb073.14e22","optInTimePeriod":14,"name":"","x":410,"y":278,"wires":[["ce9df32e.ac78e"]]},{"id":"ce9df32e.ac78e","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":677,"y":278,"wires":[]},{"id":"21381335.58484c","type":"MINMAX","z":"7aedb073.14e22","optInTimePeriod":14,"name":"","x":399,"y":341,"wires":[["93b147f7.bb41e8"]]},{"id":"93b147f7.bb41e8","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":648,"y":341,"wires":[]},{"id":"c579417d.fad38","type":"MIDPOINT","z":"b4e1fcae.96d4a","optInTimePeriod":14,"name":"","x":329,"y":398,"wires":[["7569d048.21e6c"]]},{"id":"362529a6.46ca26","type":"MFI","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":350,"y":758,"wires":[["7ce8b269.86121c"]]},{"id":"1d2bcff1.7f54d","type":"MINMAXINDEX","z":"7aedb073.14e22","optInTimePeriod":14,"name":"","x":413,"y":399,"wires":[["d48009c0.519548"]]},{"id":"d48009c0.519548","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":659,"y":400,"wires":[]},{"id":"e66570f8.e8955","type":"MINUS_DI","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":353,"y":817,"wires":[["28dd9077.79de3"]]},{"id":"28dd9077.79de3","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":576,"y":817,"wires":[]},{"id":"e54f471b.82e178","type":"MINUS_DM","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":353,"y":877,"wires":[["a168995a.1f9738"]]},{"id":"a168995a.1f9738","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":576,"y":877,"wires":[]},{"id":"5800acec.842da4","type":"MOM","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":336,"y":932,"wires":[["f53b9d52.f8924"]]},{"id":"f53b9d52.f8924","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":540,"y":932,"wires":[]},{"id":"e2c5883f.a2c948","type":"NATR","z":"6753361d.300e28","optInTimePeriod":14,"name":"","x":292,"y":180,"wires":[["bea36367.a3446"]]},{"id":"bea36367.a3446","type":"debug","z":"6753361d.300e28","name":"Result","active":true,"console":"false","complete":"true","x":456,"y":180,"wires":[]},{"id":"30e24de6.248d62","type":"OBV","z":"bd892ea6.8565b","name":"","x":374,"y":206,"wires":[["e2e0cb0d.42e778"]]},{"id":"e2e0cb0d.42e778","type":"debug","z":"bd892ea6.8565b","name":"Result","active":true,"console":"false","complete":"true","x":585,"y":206,"wires":[]},{"id":"4a0a4f29.58a83","type":"PLUS_DI","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":343,"y":993,"wires":[["1202ca58.5a8d16"]]},{"id":"1202ca58.5a8d16","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":554,"y":993,"wires":[]},{"id":"3d64f21e.82b8ce","type":"PLUS_DM","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":350,"y":1052,"wires":[["805912e.06200f"]]},{"id":"805912e.06200f","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":581,"y":1053,"wires":[]},{"id":"6d75c63a.a21f68","type":"PPO","z":"6a557a77.2c46b4","name":"","optInFastPeriod":12,"optInSlowPeriod":26,"optInMAType":0,"x":336,"y":1112,"wires":[["fc4e3a9c.ca4298"]]},{"id":"fc4e3a9c.ca4298","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":567,"y":1111,"wires":[]},{"id":"2d95503e.6de8b","type":"ROC","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":343,"y":1170,"wires":[["a86ff8bf.1d2dc8"]]},{"id":"a86ff8bf.1d2dc8","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":594,"y":1170,"wires":[]},{"id":"c7e0c879.1f4828","type":"ROCP","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":337,"y":1223,"wires":[["b053720b.1356f"]]},{"id":"b053720b.1356f","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":574,"y":1222,"wires":[]},{"id":"3a0ba5fb.63168a","type":"ROCR","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":339,"y":1278,"wires":[["9cf56826.2c1228"]]},{"id":"808811e.e78edf","type":"ROCR100","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":345,"y":1337,"wires":[["363c5241.e5513e"]]},{"id":"9cf56826.2c1228","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":584,"y":1277,"wires":[]},{"id":"363c5241.e5513e","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":598,"y":1337,"wires":[]},{"id":"621c1b94.491454","type":"RSI","z":"6a557a77.2c46b4","optInTimePeriod":14,"name":"","x":337,"y":1396,"wires":[["9923e9a6.1f9c58"]]},{"id":"9923e9a6.1f9c58","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":561,"y":1396,"wires":[]},{"id":"10db2e3e.64be42","type":"SAR","z":"b4e1fcae.96d4a","optInAcceleration":0.01,"optInMaximum":0.2,"name":"","x":306,"y":499,"wires":[["79b5ecaf.d87e54"]]},{"id":"79b5ecaf.d87e54","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":532,"y":500,"wires":[]},{"id":"fdd159db.3eb6f8","type":"SAREXT","z":"b4e1fcae.96d4a","optInStartValue":0,"optInOffsetOnReverse":0.01,"optInAccelerationInitLong":0.01,"optInAccelerationLong":0.01,"optInAccelerationMaxLong":0.2,"optInAccelerationInitShort":0.01,"optInAccelerationShort":0.01,"optInAccelerationMaxShort":0.2,"name":"","x":318,"y":549,"wires":[["c2204503.79d7d8"]]},{"id":"c2204503.79d7d8","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":535,"y":549,"wires":[]},{"id":"dc54c819.2fdcd8","type":"SMA","z":"b4e1fcae.96d4a","optInTimePeriod":14,"name":"","x":308,"y":607,"wires":[["74c45966.303b38"]]},{"id":"74c45966.303b38","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":535,"y":606,"wires":[]},{"id":"30877c8d.3036c4","type":"STDDEV","z":"89d4d62c.d7de08","optInTimePeriod":5,"optInNbDev":1,"name":"","x":332,"y":413,"wires":[["2601029a.3bedee"]]},{"id":"2601029a.3bedee","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":553,"y":412,"wires":[]},{"id":"eeb76f1e.4012f","type":"STOCH","z":"6a557a77.2c46b4","optInFastK_Period":5,"optInSlowK_Period":3,"optInSlowK_MAType":0,"optInSlowD_Period":3,"optInSlowD_MAType":0,"name":"","x":339,"y":1450,"wires":[["1cccf8d3.424167"]]},{"id":"1cccf8d3.424167","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":531,"y":1450,"wires":[]},{"id":"115aa729.ebcb89","type":"STOCHF","z":"6a557a77.2c46b4","optInFastK_Period":5,"optInFastD_Period":3,"optInFastD_MAType":0,"name":"","x":337,"y":1507,"wires":[["74060dab.9b6794"]]},{"id":"74060dab.9b6794","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":510,"y":1507,"wires":[]},{"id":"3b9c25e1.09095a","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":553,"y":1564,"wires":[]},{"id":"89685a2e.7243b8","type":"SUM","z":"7aedb073.14e22","optInTimePeriod":14,"name":"","x":380,"y":466,"wires":[["f89e5da0.3edf"]]},{"id":"f89e5da0.3edf","type":"debug","z":"7aedb073.14e22","name":"Result","active":true,"console":"false","complete":"true","x":529,"y":466,"wires":[]},{"id":"6c7ce24c.77a30c","type":"STOCHRSI","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"optInFastK_Period":5,"optInFastD_Period":3,"optInFastD_MAType":0,"x":344,"y":1564,"wires":[["3b9c25e1.09095a"]]},{"id":"cb075b87.b79898","type":"T3","z":"b4e1fcae.96d4a","optInTimePeriod":14,"name":"","x":304,"y":662,"wires":[["241de946.af69e6"]]},{"id":"241de946.af69e6","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":544,"y":662,"wires":[]},{"id":"233e4179.d22a7e","type":"TEMA","z":"b4e1fcae.96d4a","optInTimePeriod":14,"name":"","x":306,"y":715,"wires":[["71852ff2.b1357"]]},{"id":"71852ff2.b1357","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":545,"y":715,"wires":[]},{"id":"e57d9ab.fb71068","type":"TRANGE","z":"6753361d.300e28","name":"","x":302,"y":232,"wires":[["22e32e9e.5c3f52"]]},{"id":"22e32e9e.5c3f52","type":"debug","z":"6753361d.300e28","name":"Result","active":true,"console":"false","complete":"true","x":457,"y":232,"wires":[]},{"id":"880a0d5a.61e44","type":"TRIX","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":323,"y":1616,"wires":[["dbc59a62.69ca78"]]},{"id":"dbc59a62.69ca78","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":563,"y":1616,"wires":[]},{"id":"861eaf7b.5cd8b","type":"TSF","z":"89d4d62c.d7de08","name":"","optInTimePeriod":14,"x":314,"y":461,"wires":[["fbd5ed89.5403c"]]},{"id":"fbd5ed89.5403c","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":547,"y":461,"wires":[]},{"id":"f97fb046.e4eb7","type":"TYPPRICE","z":"e3a3bc3f.da83","name":"","x":307,"y":200,"wires":[["27deb5f0.05b2ea"]]},{"id":"27deb5f0.05b2ea","type":"debug","z":"e3a3bc3f.da83","name":"Result","active":true,"console":"false","complete":"true","x":466,"y":200,"wires":[]},{"id":"b94175fa.a07968","type":"ULTOSC","z":"6a557a77.2c46b4","name":"","optInTimePeriod1":14,"optInTimePeriod2":14,"optInTimePeriod3":14,"x":331,"y":1670,"wires":[["2e4aacc0.c1ae44"]]},{"id":"2e4aacc0.c1ae44","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":492,"y":1670,"wires":[]},{"id":"f9eac31f.750e","type":"VAR","z":"89d4d62c.d7de08","name":"","optInTimePeriod":5,"optInNbDev":1,"x":302,"y":513,"wires":[["96c9d8a3.602058"]]},{"id":"96c9d8a3.602058","type":"debug","z":"89d4d62c.d7de08","name":"Result","active":true,"console":"false","complete":"true","x":449,"y":513,"wires":[]},{"id":"5de36df.1d9d094","type":"WCLPRICE","z":"e3a3bc3f.da83","name":"","x":315,"y":255,"wires":[["e5136218.fd54"]]},{"id":"e5136218.fd54","type":"debug","z":"e3a3bc3f.da83","name":"Result","active":true,"console":"false","complete":"true","x":474,"y":255,"wires":[]},{"id":"f1f3ec54.e907d","type":"WILLR","z":"6a557a77.2c46b4","name":"","optInTimePeriod":14,"x":319,"y":1728,"wires":[["12ea8ce4.8112d3"]]},{"id":"12ea8ce4.8112d3","type":"debug","z":"6a557a77.2c46b4","name":"Result","active":true,"console":"false","complete":"true","x":486,"y":1728,"wires":[]},{"id":"74141828.23ec48","type":"WMA","z":"b4e1fcae.96d4a","name":"","optInTimePeriod":14,"x":301,"y":767,"wires":[["e78e0b89.7e13e8"]]},{"id":"e78e0b89.7e13e8","type":"debug","z":"b4e1fcae.96d4a","name":"Result","active":true,"console":"false","complete":"true","x":556,"y":768,"wires":[]},{"id":"bfd9f517.4f7448","type":"CDLDRAGONFLYDOJI","z":"83b456cd.a47bc8","name":"","x":344,"y":950,"wires":[["9c6ade5f.fd16d"]]},{"id":"9c6ade5f.fd16d","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":545,"y":950,"wires":[]},{"id":"3270bcb2.fd4444","type":"CDLGRAVESTONEDOJI","z":"83b456cd.a47bc8","name":"","x":362,"y":1231,"wires":[["111e6606.b14d5a"]]},{"id":"18a5a120.7cac4f","type":"CDLHAMMER","z":"83b456cd.a47bc8","name":"","x":327,"y":1283,"wires":[["608395e7.f2efdc"]]},{"id":"e66a3b8b.80a208","type":"CDLHANGINGMAN","z":"83b456cd.a47bc8","name":"","x":333,"y":1334,"wires":[["af0208c8.5d2598"]]},{"id":"9184087e.a9efc8","type":"CDLHARAMI","z":"83b456cd.a47bc8","name":"","x":310,"y":1388,"wires":[["a00b0594.8b1148"]]},{"id":"fb15a51f.98b628","type":"CDLHARAMICROSS","z":"83b456cd.a47bc8","name":"","x":347,"y":1441,"wires":[["e97683f8.b55bf"]]},{"id":"66c85249.a92fac","type":"CDLHIGHWAVE","z":"83b456cd.a47bc8","name":"","x":327,"y":1494,"wires":[["9260b3a6.fd1bd"]]},{"id":"1ae83d23.9d5883","type":"CDLHIKKAKE","z":"83b456cd.a47bc8","name":"","x":324,"y":1548,"wires":[["a66303fb.435ec"]]},{"id":"619cc80b.fc51d8","type":"CDLHIKKAKEMOD","z":"83b456cd.a47bc8","name":"","x":326,"y":1605,"wires":[["39ce9053.2712c"]]},{"id":"514b5576.4982fc","type":"CDLHOMINGPIGEON","z":"83b456cd.a47bc8","name":"","x":327,"y":1658,"wires":[["ca9a286f.359a28"]]},{"id":"14ff3d48.c0abf3","type":"CDLIDENTICAL3CROWS","z":"83b456cd.a47bc8","name":"","x":336,"y":1707,"wires":[["48b34972.ae78d8"]]},{"id":"8061d4bf.f05038","type":"CDLINNECK","z":"83b456cd.a47bc8","name":"","x":292,"y":1758,"wires":[["87f19eda.1d3bc"]]},{"id":"334b00b4.8e9cf","type":"CDLINVERTEDHAMMER","z":"83b456cd.a47bc8","name":"","x":327,"y":1806,"wires":[["2699a64e.cea21a"]]},{"id":"df555658.973778","type":"CDLKICKING","z":"83b456cd.a47bc8","name":"","x":298,"y":1859,"wires":[["e1356385.85012"]]},{"id":"2fee64fe.801e5c","type":"CDLKICKINGBYLENGTH","z":"83b456cd.a47bc8","name":"","x":323,"y":1913,"wires":[["a68dc6e6.af7b88"]]},{"id":"a0972154.4d12e","type":"CDLLADDERBOTTOM","z":"83b456cd.a47bc8","name":"","x":307,"y":1959,"wires":[["3e307628.38c35a"]]},{"id":"1cc1a1fb.2a6a1e","type":"CDLLONGLEGGEDDOJI","z":"83b456cd.a47bc8","name":"","x":313,"y":2014,"wires":[["bdd759c2.65a9e8"]]},{"id":"701053cb.ab47dc","type":"CDLLONGLINE","z":"83b456cd.a47bc8","name":"","x":290,"y":2063,"wires":[["f6976e2c.f5d05"]]},{"id":"d5ef950c.c40748","type":"CDLMARUBOZU","z":"83b456cd.a47bc8","name":"","x":294,"y":2116,"wires":[["137dc5d0.cb1cda"]]},{"id":"29f8777.8542188","type":"CDLMATCHINGLOW","z":"83b456cd.a47bc8","name":"","x":299,"y":2167,"wires":[["fa772c50.4dd92"]]},{"id":"25a4ed19.2557d2","type":"CDLMATHOLD","z":"83b456cd.a47bc8","name":"","optInPenetration":0.3,"x":283,"y":2219,"wires":[["b690d466.9efbe8"]]},{"id":"795c67c1.32fd68","type":"CDLMORNINGDOJISTAR","z":"83b456cd.a47bc8","name":"","optInPenetration":0.3,"x":309,"y":2265,"wires":[["95113167.0f3c9"]]},{"id":"d5790ef7.4ed7c","type":"CDLONNECK","z":"83b456cd.a47bc8","name":"","x":283.00001525878906,"y":2350.9999294281006,"wires":[["873b23e0.a8c7c"]]},{"id":"ef886974.f77788","type":"CDLPIERCING","z":"83b456cd.a47bc8","name":"","x":287.00001525878906,"y":2402.9999294281006,"wires":[["2631e19b.42a77e"]]},{"id":"5272eb76.2a9d34","type":"CDLRICKSHAWMAN","z":"83b456cd.a47bc8","name":"","x":305.00001525878906,"y":2457.9999294281006,"wires":[["2629db03.d02c34"]]},{"id":"93aef4e5.8c2c38","type":"CDLRISEFALL3METHODS","z":"83b456cd.a47bc8","name":"","x":322.00001525878906,"y":2508.9999294281006,"wires":[["d924e762.6784c8"]]},{"id":"f5bcbedf.22b89","type":"CDLSEPARATINGLINES","z":"83b456cd.a47bc8","name":"","x":309.00001525878906,"y":2558.9999294281006,"wires":[["bb98931.014d27"]]},{"id":"b4af9ba4.63c008","type":"CDLSHOOTINGSTAR","z":"83b456cd.a47bc8","name":"","x":296.00001525878906,"y":2609.9999294281006,"wires":[["65d5d7b0.f94868"]]},{"id":"7ccc0757.806708","type":"CDLSHORTLINE","z":"83b456cd.a47bc8","name":"","x":283.00001525878906,"y":2660.9999294281006,"wires":[["5e4f4dfa.d0ee24"]]},{"id":"28a1b2be.74d49e","type":"CDLSPINNINGTOP","z":"83b456cd.a47bc8","name":"","x":281.00001525878906,"y":2712.9999294281006,"wires":[["b4bb1e7e.556e5"]]},{"id":"504f7c49.9f81c4","type":"CDLSTALLEDPATTERN","z":"83b456cd.a47bc8","name":"","x":303.00001525878906,"y":2765.9999294281006,"wires":[["7cd0b2cc.3b63cc"]]},{"id":"ff48c0fc.c369f","type":"CDLSTICKSANDWICH","z":"83b456cd.a47bc8","name":"","x":289.00001525878906,"y":2815.9999294281006,"wires":[["f00b05ae.411298"]]},{"id":"58d10a99.599274","type":"CDLTAKURI","z":"83b456cd.a47bc8","name":"","x":255.00001525878906,"y":2865.9999294281006,"wires":[["4bca3805.3ca9a8"]]},{"id":"32dc15b5.366a0a","type":"CDLTASUKIGAP","z":"83b456cd.a47bc8","name":"","x":261.00001525878906,"y":2912.9999294281006,"wires":[["c9abf17a.6567e"]]},{"id":"f7b1e42c.3608d8","type":"CDLTHRUSTING","z":"83b456cd.a47bc8","name":"","x":270.00001525878906,"y":2963.9999294281006,"wires":[["228e17c8.044808"]]},{"id":"ef3e59dd.c52598","type":"CDLTRISTAR","z":"83b456cd.a47bc8","name":"","x":251.00001525878906,"y":3013.9999294281006,"wires":[["82c10438.c97798"]]},{"id":"c1088fb1.059c","type":"CDLUNIQUE3RIVER","z":"83b456cd.a47bc8","name":"","x":278.00001525878906,"y":3058.9999294281006,"wires":[["330f4862.09a028"]]},{"id":"5f5d9af4.be9684","type":"CDLUPSIDEGAP2CROWS","z":"83b456cd.a47bc8","name":"","x":294.00001525878906,"y":3108.9999294281006,"wires":[["8bf4b583.3c46a8"]]},{"id":"abce59e.4fd5da8","type":"CDLXSIDEGAP3METHODS","z":"83b456cd.a47bc8","name":"","x":293.00001525878906,"y":3162.9999294281006,"wires":[["1973147f.0ecb4c"]]},{"id":"111e6606.b14d5a","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":576,"y":1231,"wires":[]},{"id":"608395e7.f2efdc","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":570,"y":1283,"wires":[]},{"id":"af0208c8.5d2598","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":566,"y":1333,"wires":[]},{"id":"a00b0594.8b1148","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":565,"y":1387,"wires":[]},{"id":"e97683f8.b55bf","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":570,"y":1441,"wires":[]},{"id":"9260b3a6.fd1bd","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":580,"y":1493,"wires":[]},{"id":"a66303fb.435ec","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":569,"y":1549,"wires":[]},{"id":"39ce9053.2712c","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":555,"y":1605,"wires":[]},{"id":"ca9a286f.359a28","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":547,"y":1658,"wires":[]},{"id":"48b34972.ae78d8","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":548,"y":1707,"wires":[]},{"id":"87f19eda.1d3bc","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":522,"y":1758,"wires":[]},{"id":"2699a64e.cea21a","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":534,"y":1806,"wires":[]},{"id":"e1356385.85012","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":520,"y":1858,"wires":[]},{"id":"a68dc6e6.af7b88","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":539,"y":1913,"wires":[]},{"id":"3e307628.38c35a","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":516,"y":1959,"wires":[]},{"id":"bdd759c2.65a9e8","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":530,"y":2014,"wires":[]},{"id":"f6976e2c.f5d05","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":513,"y":2063,"wires":[]},{"id":"137dc5d0.cb1cda","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":516,"y":2116,"wires":[]},{"id":"fa772c50.4dd92","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":514,"y":2167,"wires":[]},{"id":"b690d466.9efbe8","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":513,"y":2220,"wires":[]},{"id":"95113167.0f3c9","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":524,"y":2265,"wires":[]},{"id":"873b23e0.a8c7c","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":515.0000152587891,"y":2351.9999294281006,"wires":[]},{"id":"2631e19b.42a77e","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":508.00001525878906,"y":2403.9999294281006,"wires":[]},{"id":"2629db03.d02c34","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":547.0000152587891,"y":2458.9999294281006,"wires":[]},{"id":"d924e762.6784c8","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":570.0000152587891,"y":2508.9999294281006,"wires":[]},{"id":"bb98931.014d27","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":577.0000152587891,"y":2558.9999294281006,"wires":[]},{"id":"65d5d7b0.f94868","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":553.0000152587891,"y":2609.9999294281006,"wires":[]},{"id":"5e4f4dfa.d0ee24","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":538.0000152587891,"y":2660.9999294281006,"wires":[]},{"id":"b4bb1e7e.556e5","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":546.0000152587891,"y":2712.9999294281006,"wires":[]},{"id":"7cd0b2cc.3b63cc","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":546.0000152587891,"y":2765.9999294281006,"wires":[]},{"id":"f00b05ae.411298","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":549.0000152587891,"y":2815.9999294281006,"wires":[]},{"id":"4bca3805.3ca9a8","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":530.0000152587891,"y":2864.9999294281006,"wires":[]},{"id":"c9abf17a.6567e","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":555.0000152587891,"y":2913.9999294281006,"wires":[]},{"id":"228e17c8.044808","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":537.0000152587891,"y":2963.9999294281006,"wires":[]},{"id":"82c10438.c97798","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":532.0000152587891,"y":3013.9999294281006,"wires":[]},{"id":"330f4862.09a028","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":526.0000152587891,"y":3058.9999294281006,"wires":[]},{"id":"8bf4b583.3c46a8","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":518.0000152587891,"y":3108.9999294281006,"wires":[]},{"id":"1973147f.0ecb4c","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":518.0000152587891,"y":3162.9999294281006,"wires":[]},{"id":"dd70ab64.4b3758","type":"CDLABANDONEDBABY","z":"83b456cd.a47bc8","name":"","optInPenetration":"0.3","x":348,"y":448,"wires":[["cbab20d9.4124f"]]},{"id":"b5a9b09e.69019","type":"CDLMORNINGSTAR","z":"83b456cd.a47bc8","name":"","optInPenetration":"5","x":306.6666717529297,"y":2309.333423614502,"wires":[["b380028a.1e9ea"]]},{"id":"b380028a.1e9ea","type":"debug","z":"83b456cd.a47bc8","name":"Result","active":true,"console":"false","complete":"true","x":513.3333129882812,"y":2310,"wires":[]},{"id":"5b769896.c32e68","type":"bittrex-api","z":"6a9d4356.64b6ec","name":"","apikey":"","apisecret":"","x":330,"y":260,"wires":[["2bcf15e1.3afb3a"]]},{"id":"5b854293.43c8dc","type":"inject","z":"6a9d4356.64b6ec","name":"","topic":"","payload":"{\"api\":\"getwithdrawalhistory\",\"options\":{\"currency\":\"BTC\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":162,"y":260,"wires":[["5b769896.c32e68"]]},{"id":"2bcf15e1.3afb3a","type":"debug","z":"6a9d4356.64b6ec","name":"","active":true,"console":"false","complete":"false","x":505,"y":260,"wires":[]},{"id":"1dec5cd0.30af13","type":"catch","z":"6a9d4356.64b6ec","name":"","scope":["5b769896.c32e68"],"x":224,"y":343,"wires":[["c041c060.e0d0d"]]},{"id":"c041c060.e0d0d","type":"debug","z":"6a9d4356.64b6ec","name":"","active":true,"console":"false","complete":"true","x":360,"y":343,"wires":[]},{"id":"b9879703.de2a78","type":"bittrex-websocket","z":"6a9d4356.64b6ec","name":"","x":162,"y":80,"wires":[["12e8c063.b7a22"]]},{"id":"4a105801.f2ecd8","type":"debug","z":"6a9d4356.64b6ec","name":"","active":true,"console":"false","complete":"false","x":433,"y":81,"wires":[]},{"id":"12e8c063.b7a22","type":"function","z":"6a9d4356.64b6ec","name":"Persistence","func":"node.log('Start persistence node at ' + new Date());\n\nvar dateStatus = new Date();\n\nvar loopback = context.global.loopback;\n\nvar Tick = loopback.models.Tick;\n    \nif (Tick === undefined) {\n    node.error(\"Tick model is not accessible\", msg);\n    return;\n}\n\nTick.create(msg.payload, function (err, result) {\n        if (err) {\n            node.status({fill: \"red\", shape: \"ring\", text: \"Tick find error\" + dateStatus.toLocaleString()});\n            node.error(\"Tick find error\", err);\n            node.warn(err);\n            \n            return;\n        }\n            \n        node.log('Tick persisted correctly');\n        node.status({fill: \"green\", shape: \"dot\", text: dateStatus.toLocaleString()});\n        \n        node.send(msg);\n    });\n    \nreturn;","outputs":1,"noerr":0,"x":293,"y":161,"wires":[["4a105801.f2ecd8"]]}]